/*common s*/

/*s*/
#container.sub{padding-top: 120px;position:relative;}
#container.sub:before{content: '';display: block;position: absolute;top: 0;left: 0;width: 100%;height: 118px;background: #1c265b;}
/*e*/

.sub-vs-tx{height: 268px;width: 100%;display: table;background:url(../../images/mbaNew/sub/sub_vsl.jpg) no-repeat center center;background-size:cover;text-align: center;margin-bottom: 40px;}
.sub-vs-tx .in{display: table-cell;vertical-align: middle;padding:0 10px;}
.sub-vs-tx h2{font-size: 47px;line-height: 50px;color: #ffffff;}
.sub-vs-tx p{font-size: 18px;line-height: 25px;color: #ffffff;margin-top: 15px;}

.sub-container{padding-bottom: 50px;margin-top: 35px;}
.sub-container > .width-auto:after{content: ''; display: block; clear: both;}
.leftMenu-area{float: left;width: 250px;}
.leftMenu-area > h2{display: table;width: 100%;height: 103px;/*background: url(../../images/gtaxNew/sub/left_tibg.jpg) no-repeat left top;background-size: cover;border-radius: 13px 55px 13px 13px; border-bottom: 3px solid #000000; */}
.leftMenu-area > h2 > span{display: table-cell;vertical-align: bottom;text-align: left;padding: 6px 0px;/*padding-left: 24px;*/font-size: 26px;line-height: 32px;color: #333; border-bottom: 3px solid #d7d7d7;}
.leftMenu{background: #fff;border-radius: 12px;margin-top: 5px;}
.leftMenu > li > a{display: block;font-size: 18px;color: #686868;line-height: 24px;padding: 12px 30px;/* font-weight: bold; border: 1px solid #d7d7d7;*/margin-bottom: 5px;/*border-radius: 11px;*/ border-bottom: 1px solid #d7d7d7;}
.leftMenu > li > a.newWin{background: url(../../images/mbaNew/common/nWindow_ic.png) no-repeat 96% 28%;}
.leftMenu > li.on > a,
.leftMenu > li > a:hover {
	position: relative;
	color: #1569b7;
	font-size: 20px;
	transition: .3s ease-in-out;
}
.leftMenu > li.on > a:before,
.leftMenu > li > a:hover:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 8px;
	height: 8px;
	background: #1c265b;;
	border-radius: 50%;
	opacity: 1;
	transition: .3s ease-in-out;
}
/*.leftMenu > li > a.on{color: #00a3aa;  border-bottom: 2px solid #00a3aa; background: url(../../images/mbaNew/sub/ldp1_arr.jpg) right center no-repeat; background: #ffffff;}*/
.leftMenu > li > a.on1{color: #00a3aa;border-bottom: 2px solid #00a3aa;background: url(../../images/mbaNew/sub/ldp1_arr.jpg) right center no-repeat;}
.leftMenu > li > a.bgT1{background: url(../../images/mbaNew/common/left_menu_link.jpg) no-repeat 145px 18px;}
.leftMenu > li > a.bgT2{background: url(../../images/mbaNew/common/left_menu_link.jpg) no-repeat 94px 18px;}
.leftMenu > li > a.bgT3{background: url(../../images/mbaNew/common/left_menu_link.jpg) no-repeat 160px 18px;}
.depM3{display:none;padding: 10px 17px;border: 1px solid #d7d7d7;/* border-bottom: 2px solid #00a3aa; */margin-bottom: 5px;border-radius: 13px;}
.depM3 li a.on{font-weight:bold;}
.depM3 li a{padding: 2px 0;font-size: 15px;line-height: 22px;display: inline-block;display: block;}
.depM3 li a.bg{background: url(../../images/mbaNew/common/left_menu_link.jpg) no-repeat 154px 11px;}
.leftMenu > li.L-down > a{background: url(../../images/mbaNew/sub/leftMenu-btnPlus.png) no-repeat calc(100% - 16px) 17px;}
.leftMenu > li.L-down > a.on{background: #d9e8fb url(../../images/mbaNew/sub/leftMenu-btnMinus.png) no-repeat calc(100% - 16px) 17px;}
.content-area{float: right;width: calc(100% - 315px);}
.sub-tp{overflow: hidden;padding-bottom: 15px;/* border-bottom: 1px solid #000; */margin-bottom: 30px;position: relative;margin-top: 40px;}
.page-tit{font-size: 35px;color: #333;line-height: 46px;}
.linkBtn{display: block;position: absolute;right: 0;top: 0;}
.linkBtn li{display: inline-block;}
.linkBtn li a{display: inline-block;}
.line-map{margin-top: 15px;margin-bottom: 21px; text-align: right;}
.line-map > li{display: inline-block;font-size: 16px;color: #333;line-height: 22px;margin-right: 5px;padding-right: 16px;background: url(../../images/mbaNew/sub/TopMenu_nextBg.png) no-repeat right 6px;}
.line-map > li img{vertical-align: top;margin-top: 3px;}
.line-map > li:last-child{background:none;font-weight:bold;}
.sub-content{min-height: 400px;}
/*common e*/

/* table */
.table-out{border-top: 2px solid #283d49;overflow-x: auto; margin-top: 20px; /*margin-left: 20px;*/}
.table-out2{border-top: 2px solid #283d49;overflow-x: auto;}

.table-col{min-width: 650px;}
.table-col thead tr th{padding: 12px 10px;border-top: 1px solid #cccccc;border-right: 1px solid #cccccc;font-weight: normal;font-family: 'Pretendard', sans-serif;font-size: 16px;line-height: 20px;color: #666666;background: #f5f5f5;text-align: center;}
.table-col thead tr:first-child th{border-top: none;}
.table-col thead tr th:last-child{border-right: none;}/*border-right: 1px solid #cccccc;*/
.table-col tbody tr td{text-align: center;padding: 7px 10px;border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right:1px solid #cccccc; font-size: 15px;line-height: 25px;color: #333333; font-family: 'Pretendard', sans-serif;}
.table-col tbody tr td:last-child{border-right: none;}
.table-col tbody tr td:first-child{border-left: none;}
.table-col tbody tr:first-child td{background: url("../../images/mbaNew/sub/table_bg01.gif") repeat-x left top;}


.table-col2{min-width: 600px;}
.table-col2 thead tr th{padding: 12px 10px;border-top: 1px solid #cccccc;border-right: 1px solid #cccccc;font-weight: normal;font-family: 'Pretendard', sans-serif;font-size: 16px;line-height: 20px;color: #666666;background: #f2f1ed;text-align: center;}
.table-col2 thead tr:first-child th{border-top: none;}
.table-col2 thead tr th:last-child{border-right: none;}/*border-right: 1px solid #cccccc;*/
.table-col2 tbody tr td{text-align: center;padding: 7px 10px;border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right:1px solid #cccccc; font-size: 15px;line-height: 19px;color: #000000;}
.table-col2 tbody tr td:last-child{border-right: none;}
.table-col2 tbody tr td:first-child{border-left: none;}
.table-col2 tbody tr:first-child td{background: url("../../images/mbaNew/sub/table_bg01.gif") repeat-x left top;}


.listType02 .type2 tbody > th {
	border-left: #d0d0d0 solid 1px;
	text-align: center;
}
.listType02.type2 th{padding:10px 5px; font-weight: bold;}
.listType02.type2 td{text-align:left;padding:10px;}
.listType02.type2 td span{word-break: keep-all;}
.listType02.type2 td a,
.dotList a,
.dotList02 a,
.blt00 a{font-family: 'Pretendard', sans-serif; cursor: pointer; text-decoration: underline; padding-bottom: 7px;}
.listType02{border-top:#1569b7 solid 2px;margin-top:20px;margin-bottom:10px; margin-left: 35px;}
.listType02 th{background-color:#f5fbff;color:#2a2a2a;padding:15px 0 13px;border-bottom:#d0d0d0 solid 1px;font-weight: 200;}
.listType02 td{border-bottom:#d0d0d0 solid 1px;padding:15px 0 13px;text-align:center}
.listType02.type2 td, .listType02.type2 th{border-left:#d0d0d0 solid 1px; text-align:center; font-family: 'Pretendard', sans-serif; word-break: keep-all;}
.listType02.type2 li {font-family: 'Pretendard', sans-serif;}
.listType02.type2 td:first-child, .listType02.type2 th:first-child{border-left:none}
.listType02.type2 td.borderleft, .listType02.type2 th.borderleft{border-left: #d0d0d0 solid 1px;}
.listType02.type2 td.al{padding:13px 15px 15px}

.listType03{
	border: 1px solid #D5D5D5;
	border-radius: 15px;
	margin-left: 35px;
}
.listType03 th {
	font-size: 14px;
}
.txl a{
	font-size: 15px;
	text-align: center;
	position: relative;
}

.txl a::after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 19px;
	background-color: #1c265b;
	transition: width 0.5s ease-in-out;
	opacity: 0.2;
}

.txl a:hover::after {
	width: 100%;
}

.txl img{
	padding-left: 20px;
}

.dotbox {
	padding-left: 15px;
}
.dotbox2 {
	padding-left: 40px;
	padding-top: 10px;
}
.dotbox3 {
	padding-left: 40px;
}

.dotted {
	border: none;
	border-top: 2px dotted #999;
	height: 1px;
	margin: 30px 2px 10px 2px;
}

/* 경영사례연구 경진대회 */
.text-box {
	border: 1px solid #1c265b;
	width: 200px;
	height: 100px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
	background-color: #f7f7f7;
}
.text-box p{
	text-align: center;
	color: #1c265b !important;
}


/* css : 정렬 */
.al{text-align:left !important}
.ac{text-align:center !important}
.ar{text-align:right !important}
.vt{vertical-align:top !important}
.vm{vertical-align:middle !important}
.vb{vertical-align:bottom !important}

.fl{float:left !important}
.fr{float:right !important}
.cb{clear:both !important}
.fn{float:none !important; width:100% !important}

/* 들여쓰기 */
.ti_14 {padding-left: 55px; padding-top: 5px; word-break: keep-all;}
.ti_15 {text-indent:-15px;padding-left:15px;}
.ti_22 li {text-indent:-22px;padding-left:22px;}
.ti_22 ul li {/*text-indent:-30px;padding-left:30px !important;*/}
.ti_30 {text-indent:-73px;padding-left:80px !important;}
.ti_35 li {text-indent:-35px;padding-left:35px; margin-top:8px;}

/* css : text Color */
.fcW      {color:#ffffff !important}
.fcB      {color:#2a2a2a !important}
.fcB2     {color:#0d4c99 !important}
.fcBl     {color:#0e3174 !important}
.fcBl2    {color:#1b4fb4 !important}
.fcR      {color:#e60013 !important}
.fcR2     {color:#d23340 !important}

/* 리스트 */
.dotList > li, .dotList > li > ul > li, .blt01 {
	background:url(../../images/mbaNew/sub/blt_01.png) 0 12px no-repeat;
	padding-left: 10px;
	font-family: 'Pretendard', sans-serif;
	font-size: 16px;
	letter-spacing: -0.5px;
	color: #555;
}
.dotList > li > ul > li {
	background:url(../../images/mbaNew/sub/blt_03.png) 0 14px no-repeat !important;
	padding-left: 15px;
}

.dotList02 > li {
	font-family: 'Pretendard', sans-serif;
	font-size: 16px;
	letter-spacing: -0.5px;
	color: #555;
	margin: 5px 0;
}

.dotList {
	margin-left: 5px;
}

.dotList03 li:first-child {
	font-size: 14px;
	color: #666;
}

.dotList03 li {
	font-family: 'Pretendard', sans-serif;
}

.dotList03 a {
	font-family: 'Pretendard', sans-serif;
	font-size: 16px;
}

.lLine  {
	border-left:1px solid #d0d0d0 !important;
}

.point {
	background: none !important;
	padding: 5px 0 0 17px !important;
	color: #d23340 !important;
}
.pointG {
	background:url(../../images/mbaNew/sub/pointG.png) 0 8px no-repeat !important;
	padding-left: 17px;
}

.pdfBox {
	margin: 30px 10px 0px 5px;
}

/* button */
.btn {
	cursor: pointer;
	text-align: center;
	height: 50px;
	border-radius: 50px;
	border: 1px solid #1c265b;
	padding: 0 35px 0 18px;
	color: #1e1e1e;
	font-size: 16px;
	background-color: initial;
	white-space: nowrap;
	transition: all 0.3s ease-in-out;
	display: flex;
	align-items: center;
}
/* 다운로드 버튼 */
.btn.btnDown{
	float: left;
	margin-left: 8px;
	height: 45px;
	background: url("../../images/mbaNew/sub/icon-down02.png") no-repeat calc(100% - 15px) center;
}

.btn.btnDown:hover {
	background: #1c265b url("../../images/mbaNew/sub/icon-down.png") no-repeat calc(100% - 15px) center;
	color: #fff;
}

/* 링크 이동 버튼 */
.btn.linkGo{
	float: left;
	margin-left: 8px;
	height: 45px;
	background: url("../../images/mbaNew/sub/icon-linkgo02.png") no-repeat calc(100% - 15px) center;
}
.btn.linkGo:hover {
	background: #1c265b url("../../images/mbaNew/sub/icon-linkgo.png") no-repeat calc(100% - 15px) center;
	color: #fff;
}


.btnList{
	margin-bottom: 85px;
	margin-top: 25px;
}


.btnList02{
	margin: 10px 0 80px 27px;
}


.but {
	display: inline-block;
	color: #fff;
	height: 41px;
	box-sizing: border-box;
	padding: 0 50px;
	line-height: 41px;
	text-align: center;
	min-width: 80px;
	white-space: nowrap;
	cursor: pointer;
	box-shadow: none;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
	margin-top: 10px;
}

.butP {
	background-color: #005dab;
	border:none;
}

.butY {
	background-color: #9b9b9b;
	border:none;
}

.content-area h3 {
	font-size: 40px;
	color: #333;
	font-weight: 600;
	line-height: 1;
	letter-spacing: -1px;
	margin-bottom: 10px;
}
.content-area h4{
	background: url(../../images/mbaNew/common/h4.png) 14px 32px no-repeat;
	color: #1569b7;
	font-size: 18px;
	padding: 26px 0 0 35px;
	word-break: keep-all;
}
.content-area h5 {
	background:url(../../images/mbaNew/common/h5.png) 35px 20px no-repeat;
	color:#444343;
	font-size:16px;
	padding:14px 0 0 56px;
	word-break: keep-all;
}

.content-area p{
	font-family: 'Pretendard', sans-serif;
	font-size: 16px;
	letter-spacing: -0.5px;
	color: #555;
}

.content-area h4 ~ .desc{margin-left: 16px; margin-top: 20px;}
/* 탭 */
.new2022-tab1{overflow: hidden;margin: 18px -1px 20px;}
.new2022-tab1 *{box-sizing: border-box;}
.new2022-tab1 > li{float: left;display: table;width: 50%;height: 62px;padding: 1px 2px;margin-top: 1px;text-align: center;position: relative; width: 25%;}
.new2022-tab1 > li > a{
	display: table-cell;
	vertical-align: middle;
	padding: 0 10px 0 15px;
	font-size: 15px;
	line-height: 20px;
	word-break: keep-all;
	text-decoration: none;
	text-align: left;
	border-radius: 0.75rem 0.75rem 0.75rem 0;
	background: #f6f6f6 url("../../images/mbaNew/sub/icon_off.png") no-repeat calc(100% - 15px) center;
}
.new2022-tab1 > li > a:hover{color: #1569b7;}
.new2022-tab1 > li.on::before{left: 1px;right: 1px;opacity: 1;}
.new2022-tab1-list{}
.new2022-tab1-list > .T1-child1{display: none;}
.new2022-tab1-list > .T1-child1.on{display: block;}

.new2022-tab1 > li.on a {
	color: #fff;
	background: #005dab url("../../images/mbaNew/sub/icon_on.png") no-repeat calc(100% - 15px) center;
}

/* 게시판 */
.brd-srll{overflow: hidden; margin-bottom: 20px;}
.brd-srll .brd-search{position: relative;box-sizing: border-box;text-align: right; }
.brd-search select{
	position: relative;
	width: 100%;
	height: 45px;
	box-sizing: border-box;
	text-align: left;
	display: inline-block;
	vertical-align: top;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 30px;
	margin-right: 10px;
	max-width: 170px;
	padding-left: 15px;
}
.lsLine{
	display: none;
}
.brd-search .sr-ib{position: relative; display: inline-block; width: 307px;}
.brd-search .sr-ib input[type="text"]{
	width: 100%;
	height: 45px;
	padding: 0px 50px 0 15px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0;
	border-radius: 30px;
}
.brd-search .sr-ib input[type="text"]:focus{
	outline:none;
}
.brd-search .sr-ib input[type="text"]:focus-visible {
	border-color: #1c265b;
}
.brd-search .sr-ib .srbt{
	position: absolute;
	right: 20px;
	top: 8px;
	overflow: hidden;
	width: 48px;
}

#searchCnd{
	appearance: none; /* 브라우저 기본 스타일 제거 */
	-webkit-appearance: none; /* Safari에서도 적용 */
	-moz-appearance: none; /* Firefox에서도 적용 */

	/* 새로운 아이콘 추가 및 스타일 조정 */
	background-image: url(../../images/gtaxNew/sub/icon_selectarrow.png); /* 아이콘 이미지 경로 설정 */
	background-repeat: no-repeat;
	background-position: right 15px center;
}

.brd-lstp1{border-top: #1c265b solid 2px; border-bottom: 1px solid #333;}
.brd-lstp1 table thead th {
	padding: 0.75rem 0.5rem;
	color: #222;
	font-weight: normal;
	border-bottom: 1px solid #d8d8d8;
	background: #f8fafc;
	font-size: 16px;
}
.brd-lstp1 table td {
	padding: 0.75rem 0.4rem;
	border-bottom: 1px solid #d8d8d8;
	word-break: keep-all;
	text-align: center;
	color: #666;
	font-size: 16px;
	font-family: 'Pretendard', sans-serif;
}
.brd-lstp1 table td a{
	color: #666;
	font-size: 16px;
	font-family: 'Pretendard', sans-serif;
	letter-spacing: -0.5px;
}
.brd-lstp1 table td.tit {
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.brd-lstp1 table tr:hover{
	background: #f8fafc;
}


/* 컬럼 게시판 */
.brd-lstp2{border-top: 1px solid #333; border-bottom: 1px solid #333;}
.brd-lstp2 > li + li{border-top: 1px solid #e0dfdf;}
.brd-lstp2 > li{position: relative;  padding: 20px 2%; padding-left: calc(2% + 40px); color: #666;}
.brd-lstp2 > li .num{position: absolute; left: 2%; top: 20px; font-size: 15px; font-size:18px;}
.brd-lstp2 > li > div{display: table; box-sizing: border-box; width: 100%; table-layout: fixed; word-break: break-all;}
.brd-lstp2 > li > div .ph{display: table-cell; vertical-align: middle; width: 120px;}
.ph > a > img {width: 120px;height: 160px;object-fit: cover;}
.brd-lstp2 > li > div .tx{display: table-cell; vertical-align: middle; padding-left: 16px; }
.brd-lstp2 .ti{line-height: 24px; font-weight: 500; overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;}
.brd-lstp2 .ti{font-size: 21px; color: #333;}
.brd-lstp2 .ti a{color: #1c265b; font-weight: bold;}
.brd-lstp2 .inf{font-size: 15px;  line-height: 20px; height: 40px; overflow: hidden; margin-top: 4px;}
.brd-lstp2 .da{line-height: 1; margin-top: 4px;}
.brd-lstp2 .da span{display: inline-block; vertical-align: middle; font-size: 15px;line-height: 20px; margin-right: 2px; }
.brd-lstp2 .da > span:after{content: ''; display: inline-block; vertical-align: top; width: 1px; height: 12px; background: #cfcfcf; margin-top: 5px; margin-left: 4px;}
.brd-lstp2 .da > span:last-child:after{display: none;}
.brd-lstp2 .da img{vertical-align: middle;}

/* 페이징 */

.paging {
	text-align: center;
	margin-top: 80px;
}
.paging > a {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	font-size: 15px;
	color: #888;
	line-height: 20px;
	padding: 0 5px 2px;
	margin: 2px 0;
}
.paging a img {
	padding: 4px;
}
.paging > span {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px;
}
.paging > span > a {
	display: inline-block;
	vertical-align: top;
	/*! border: 1px solid #3e64ef; */
	border-radius: 5px;
	/*! color: #3e64ef; */
	padding: 4px 7px;
	min-width: 17px;
	margin-right: 7px;
}
.paging > span > a.on {
	font-weight: bold;
	color: #00205C;
	text-decoration: underline solid 2px #00205c;
	text-underline-offset: 5px;
}


/* 학과소개 */
/* 학과장인사 */
.welcomeBox {width:100%;}
.welcomeBox > div {
	width:100%;
	box-sizing:border-box;
}
.welcomeBox > div .tit {
	font-size:30px;
	line-height:35px;
	margin-bottom:20px;
	color:#333;
}

div.intro_left{
	float: left;
	width: 30%;
	padding-top: 15px;
}

div.intro_right{
	float: right;
	width: 66%;
	padding-top: 1%;
	padding-right: 5%;
}

div.intro_right2{
	float: right;
	width: 66%;
	padding-right: 5%;
}

.intro_left img{
	width: 350px;
	border-radius: 20px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.sign span{
	font-family: 'Pretendard', sans-serif;
	font-weight: bold;
}

/*미션과 비전*/
.circle-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	background-color: #eaf2ff;
	padding: 50px 0;
	border-radius: 15px;
}
.circle {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-color: #d4d9ec;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #000000;
}
.small-circle {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #4472c4;
	/*opacity: 0.7;*/
	display: flex;
	justify-content: center;
	align-items: center;
	top: -17px;
}
.circle-text {
	text-align: center;
}
.small-circle-text {
	color: white;
	font-weight: bold;
}
.rectangle-title {
	height: 11px;
	background: #4472c4 !important;
	color: #fff !important;
	font-weight: bold;
	margin-bottom: -19px;
	padding-bottom: 19px !important;
	padding-top: 7px !important;
	letter-spacing: 2px;
	font-size: 17px !important;
}

.text-container {
	text-align: center;
	background-color: #fff;
	border: 2px solid #b1bdf3;
	border-radius: 10px;
	padding: 0.35rem;
	color: #666;
	font-size: 19px;
}
.pinList {
	/*width: 280px;*/
	margin: 50px auto;
	/*background: url(../../images/mbaNew/sub/pin_line.png) repeat-y center 0;*/
}

.pinList li span {
	display: block;
	text-align: center;
	font-size: 18px;
	color: #000000;
	background: #d4d9ec;
	margin-top: 19px;
	padding: 13px 0;
	border-radius: 10px;
}


/* 교수소개 */
.proList {border-top:#545454 solid 1px;}
.proList > li{
	clear:both;
	border-bottom:#d0d0d0 solid 1px;
	padding:20px
}
.proList > li > div.info, .proList > li > div.imgBox{float:left; margin-top: 10px;}
.proList > li > div.info{
	width:100%;
	box-sizing:border-box;
	padding-left:140px;
	margin-top:-156px
}
.proList > li > div:first-child{
	margin-right:25px;
	width:114px
}
.proList > li > div:first-child img{width:114px; border-radius: 10px; border: 1px solid #d7d7d7;}
.proList > li > div.imgBox > a{background-image:none;padding-right:0;height:auto;}
.proList > li > div > a{
	color:#1b4fb4;
	font-size:20px;
	background:url('../../images/mbaNew/sub/btn_detail.png') right no-repeat;
	padding-right:40px;
	height:30px;
	display:inline-block;
	line-height:30px;
}
.proList > li:after{content:""; display:block; clear:both;}
.proList > li > div > span.tit{
	color:#1b4fb4;
	font-size:20px;
	padding-right:40px;
	height:30px;
	display:inline-block;
	line-height:30px;
	background-image:none;
	text-align:left;
	width:auto;
}

.emailcopy{
	position: static;
	display: inline-block;
	padding: 4px;
	border: 1px solid #1c265b;
	border-radius: 50px;
	transition: all 0.3s ease-in-out;
	font-family: 'Pretendard', sans-serif;
	line-height: 13px;
	font-size: 11px;
	font-weight: 500;
	color: #1c265b;
}

.emailcopy:hover{
	background-color: #1c265b;
	color: #fff;
}
/* 학사일정 */
.calYaer {
	color:#0e3174;
	font-size:30px;
	line-height:30px;
	vertical-align:middle;
	text-align:center;
	font-weight:bold
}
.calYaer *{
	vertical-align:middle
}
.dotList02.det {padding: 10px 20px;}
.dotList02.det > li > span {color: #1569b7;}
.listType02 th.cal {font-size: 16px;}
.cal-tit, .cal-date, .cal-no {font-family: 'Pretendard', sans-serif;}
.cal-tit:hover{
	color: #1569b7;
	cursor: pointer;
	font-weight: bold;
}
.cal-no {text-align: left !important;}
.btnAreaLR {
	text-align: right;
	margin-top: 30px;
	padding: 0 10px;
}
.btn.btnBl {
	float: right;
	height: 40px;
	padding: 1px 20px;
	border: 1px solid #d1d1d1;
}
.btn.btnBl:hover{
	background-color:#1c265b;
	color: #FFFFFF;
}

.fileArea {
	max-width: 900px;
	margin: 0 auto;
	margin-top: 80px;
	padding: 15px 40px;
	background-color: #F4F4F4;
}
.fileArea p {
	display: block;
}
.fileArea a {
	display: inline-block;
	font-size: 1.8rem;
	line-height: 2rem;
	color: #808080;
	padding-left: 29px;
	background: url(../../images/gtaxNew/sub/icon_download_20.png) no-repeat left 10px/18px auto;
	min-height: 21px;
	font-weight: bold;
}
.fileArea a>span {
	display: inline-block;
	border-bottom: 1px solid rgba(255,255,255,0);
}
.fileArea a:hover>span {
	border-bottom:1px solid #111;color:#111;
}
.notice {
	color: #bd0c0c !important;
	font-weight: bold;
	font-size: 14px !important;
}
/* 갤러리 게시판 */
.listGallery {
	border-top: 2px solid #313131;
	border-bottom: 1px solid #d0d0d0;
	box-sizing: border-box;
	font-size: 0;
	padding: 3px 0 28px;
}
.listGallery li {
	display:inline-block;
	padding:25px 1% 0;
	width:19.8%;
	text-align:center;
	box-sizing:border-box;
	vertical-align:top;
}
.listGallery li .imgBox {
	position:relative;
	display:block;
	width:100%;
	height:108px;
	border:1px solid #c8c8c8;
	box-sizing:border-box;
}
.listGallery li .imgBox img {width:100%; height:100%;}
.listGallery li .imgBox span.bg {
	display:block;
	content:'';
	position:absolute;
	background-color:#6d7787;
	opacity:0.5;
	left:0;
	top:0
}
.listGallery li .txt {
	display:block;
	text-align:left;
	margin-top:10px;
	word-break: break-all;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color:#323232;
}
.listGallery li a:hover .txt {text-decoration:underline;}
.listType {
	padding: 20px 0 10px 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #e0dfdf;
}
#view_content {
	padding: 30px 0 50px;
	border-bottom: 1px solid #333;
	text-align: center;
}

/* faq 게시판 */
.faqList {
	margin-top: 30px;
	border-top: #1c265b solid 2px;
}
.faqList dt .tag {
	background: #ebe6e3;
	color: #1b4fb4;
}
.faqList .tag {
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	border-radius: 50%;
	font-size: 17px;
	font-weight: bold;
}
.faqList dt p{
	width: 100%;
	padding-right: 30px;
	font-size: 1.3333em;
	/*background: url(../../images/gtaxNew/sub/icon_faq_down.png)no-repeat right center;*/
}


/* 조직도 */
.org-chart {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 80px;
	margin-bottom: 70px;
}

.dean {
	width: 160px;
	height: 80px;
	background-color: #4472c4;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.dean:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 2px;
	height: 105px;
	margin-left: -2px;
	background: #d6d6d6;
}
.dean.vice::after {
	height: 55px;
}

.squ.conn::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 2px;
	height: 65px;
	margin-left: -2px;
	background: #c779b5;
}

.squ.conn.ri::after {
	background: #66c2e4;
}

.dean span {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.connector {
	width: 2px;
	height: 30px;
	position: relative;
	background: transparent;
}

.subordinates {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	width: 90%;
	position: relative;
	top: 50px;
}

.subordinates:after {
	content: "";
	position: absolute;
	left: 6.3%;
	right: 6.3%;
	top: -27px;
	height: 0;
	border-top: 2px solid #c779b5;
}
.square {
	width: 120px;
	height: 70px;
	background-color: #f7f7f7;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 15px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}
.square span{
	color: #666;
	font-weight: 500;
	text-align: center;
	font-size: 16px;
	line-height: 15px;
}

.square::before {
	content: "";
	width: 2px;
	height: 30px;
	background-color: transparent;
	border-left: 2px solid #c779b5;
	position: absolute;
	top: -29px;
	left: 49.5%; /* 가운데 정렬 */
	transform: translateX(-1px); /* 가운데 정렬을 위한 보정 */
}

.captionTxt {
	padding-left: 5px;
	padding-top: 5px;
	font-weight: 500;
	color: #666 !important;
	font-size: 14px !important;
}
.squ {
	width: 147px;
	height: 65px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 15px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
}
.squ span {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 20px;
}

/*.squ.sec{*/
/*	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);*/
/*}*/

.comm {
	width: 160px;
	height: 60px;
	background-color: #3ca7d4;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 15px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
	margin-left: 350px;
}
.comm span {
	color: #fff;
	font-weight: bold;
	font-size: 16px;
}
.comm:before{
	content: "";
	position: absolute;
	left: -60%;
	right: 100%;
	top: 32px;
	height: 0;
	border-top: 2px solid #d6d6d6;
}
.secondary {
	display: flex;
	justify-content: space-between;
	margin-top: 3px;
	width: 52%;
	position: relative;
	top: 20px;
}
.secondary:before {
	content: "";
	position: absolute;
	left: 20%;
	right: 20%;
	top: 50%;
	height: 2px;
	margin-top: -2px;
	background: #d6d6d6;
}

.secondary.fin::before{
	content: none;
}



	/* 기본 아이콘 이미지 */
.faqList .icon {
	width: 30px;
	height: 30px;
	background: url(../../images/gtaxNew/sub/icon_faq_down.png) no-repeat right center;
	cursor: pointer;
}

/* 클릭 시 아이콘 이미지 */
.faqList .icon.opened {
	background: url(../../images/gtaxNew/sub/icon_faq_up.png) no-repeat right center;
}

.faqList dt {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 50px 0;
	border-bottom: 1px solid #dcdcdc;
	cursor: pointer;
}
.faqList dd .tag {
	transform: translate(0, -10px);
	background: #1b4fb4;
	color: #fff;
}
.faqList dl dd {
	display: flex;
	word-break: break-word;
}
.faqList dd {
	display: none;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 50px;
	border-bottom: 1px solid #dcdcdc;
	background: #fcfcfc;
}
.faqList dd > div:nth-of-type(1) {
	width:calc(100% - 70px );
}
.faqList span{
	word-break: keep-all;
	font-family: 'Pretendard', sans-serif;
	font-size: 17px;
}


.view-bx {
	float: left;
	width: 69%;
	padding-right: 15px;
}

.view-bx .vw-tibx {
	padding: 20px 0 10px 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #e0dfdf;
}

.view-bx .vw-tibx h4 {
	font-size: 21px;
	color: #1c265b;
	font-weight: 500;
	line-height: 1.2;
	background: none;
	padding: 0;
}

.view-bx .zl-bx {
	margin-top: 5px;
}

.view-bx .zl-bx .da {
	float: left;
	margin: 5px 0;
	line-height: 1;
	font-family: 'Pretendard', sans-serif;
}

.view-bx .zl-bx .da span {
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	color: #666;
	line-height: 20px;
	margin-right: 4px;
	position: relative;
}
.view-bx .zl-bx .da span:after {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 1px;
	height: 12px;
	background: #cfcfcf;
	margin-top: 4px;
	margin-left: 6px;
}
.view-bx .zl-bx .da span:last-child:after {
	display: none;
}

.view-bx .fl-dw {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #e0dfdf;
}

.view-bx .fl-dw > li {
	font-size: 15px;
	color: #333;
	line-height: 22px;
	font-weight: 500;
}

.view-bx .fl-dw > li a {
	font-size: 16px;
	font-family: 'Pretendard', sans-serif;
	color: #666;
}

.view-bx .fl-dw > li span {
	color: #666;
}

.view-bx .vw-con {
	padding: 30px 0 50px;
	border-bottom: 1px solid #333;
	font-family: 'Pretendard', sans-serif;
}

.view-bx .vw-con + .hashTag-bx {
	margin-top: -1px;
}

.view-bx .hashTag-bx {
	padding: 10px 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #e0dfdf;
}

.view-bx .hashTag-bx a {
	display: inline-block;
	border: 1px solid #1f8ecd;
	padding: 4px 10px 5px;
	font-size: 18px;
	font-weight: bold;
	color: #0d47a1;
	margin-right: 6px;
	border-radius: 5px;
}

.view-bx .vw-btbx {
	margin-top: 22px;
}


.ceoList li {
	padding-left: 14px;
	padding-top: 10px;
	float: left;
}
.ml30 {
	margin-left: 30px;
}
.l220 {
	margin-left: 183px;
}
.l25 {
	padding-left: 20px !important;
}

.w80px {
	border: 1px solid #d1d1d1;
	border-radius: 30px;
	margin-right: 5px;
	padding: 0 35px 0 18px;
	height: 45px;
	background-color: #FFFFFF;
}
#monthSelect {
	appearance: none; /* 브라우저 기본 스타일 제거 */
	-webkit-appearance: none; /* Safari에서도 적용 */
	-moz-appearance: none; /* Firefox에서도 적용 */

	/* 새로운 아이콘 추가 및 스타일 조정 */
	background-image: url(../../images/mbaNew/sub/icon_selectarrow.png); /* 아이콘 이미지 경로 설정 */
	background-repeat: no-repeat;
	background-position: right 15px center;
}


.btn.s35 {
	height: 43px;
	line-height: 35px;
	min-width: 70px;
	float: right;
	border: 1px solid #d1d1d1;
	background: url("../../images/mbaNew/sub/icon-linkgo02.png") no-repeat calc(100% - 15px) center;
}

.btn.s35:hover{
	background-color: #1c265b;
	color: #fff;
}

/* 3p2s */
.sq-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
	background-color: #FFFFFF;
	padding: 80px 0;
	border-radius: 15px;
}
.sq {
	position: relative;
	width: 150px;
	height: 250px;
	border-radius: 0px 15px 15px 15px;
	background-color: #d4d9ec;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	color: #000000;
	flex-direction: column;
}
.sq-tit {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 10px;
	white-space: nowrap;
	padding: 20px 5px;
	border-bottom: 1px solid aliceblue;
	height: 50px;
}
.sq-detail {
	flex-grow: 1;
	text-align: left;
	padding: 10px;
}
.sq-detail p{
	font-size: 14px;
	font-family: 'Pretendard', sans-serif;
	line-height: 18px;
	padding: 3px;
	float: left;
}
.sq-detail p:before{
	display: inline-block;
	content: "ㆍ";
}
.small-sq {
	position: absolute;
	width: 80px;
	height: 45px;
	border-radius: 15px 15px 15px 0px;
	background-color: #4472c4;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -34px;
	left: 0;
}
.small-sq.deep {
	background-color: #2f4f88;
}
.sq-text {
	text-align: center;
}
.small-sq-text {
	color: white;
	font-weight: bold;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
}

.left-box {
	display: flex;
	flex-direction: column;
}

.blue-box {
	width: 250px; /* 또는 원하는 너비 */
	height: 100px; /* 또는 원하는 높이 */
	margin: 5px; /* 상하좌우 여백 조절 */
	border: 1px solid #4472c4;
	display: flex;
	justify-content: space-between;
	border-radius: 10px 0 0 10px;
	position: relative;
}
.blue-box::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 100%;
	width: 200px;
	border: 1px solid #bfbfbf;
}
.blue-box .content{
	flex: 1; /* 남은 공간을 모두 채우도록 설정 */
	padding: 10px; /* 원하는 여백 설정 */
	box-sizing: border-box; /* 여백을 포함한 크기로 설정 */
}
.blue-box .content span{
	font-size: 14px;
}
.blue-box .content p{
	font-size: 14px;
	line-height: 17px;
}
.blue-box .title {
	padding: 10px;
	box-sizing: border-box;
	background-color: #4472c4;
	width: 40px;
}
.blue-box .title span {
	background: #d4d9ec;
	width: 50px;
	display: inline-block;
	height: 50px;
	text-align: center;
	box-sizing: border-box;
	line-height: 50px;
	border-radius: 50%;
	right: -25px;
	position: absolute;
	top: 22px;
}
.center-box {
	width: 170px;
	height: 300px;
	border: 5px solid #bfbfbf;
	z-index: 1;
	background: #FFF;
}
.center-box .content {
	box-sizing: border-box;
	padding-top: 45px;
	text-align: center;
}
.center-box .content span{
	font-size:20px;
}
.center-box .content p{
	font-size: 18px;
	padding: 10px;
}

.right-box {
	display: flex;
	flex-direction: column;
}

.orange-box {
	border: 1px solid #ed7d31;
	margin: 5px; /* 상하좌우 여백 조절 */
	width: 250px;
	height: 100px;
	display: flex;
	justify-content: space-between;
	border-radius: 0 10px 10px 0;
	position: relative;
}
.orange-box:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 100%;
	width: 200px;
	border: 1px solid #bfbfbf;
}
.orange-box .content{
	flex: 1; /* 남은 공간을 모두 채우도록 설정 */
	padding: 10px; /* 원하는 여백 설정 */
	box-sizing: border-box; /* 여백을 포함한 크기로 설정 */
}
.orange-box .content span{
	font-size: 14px;
}
.orange-box .content p{
	font-size: 14px;
	line-height: 17px;
}

.orange-box .title {
	padding: 10px; /* 원하는 여백 설정 */
	box-sizing: border-box; /* 여백을 포함한 크기로 설정 */
	line-height: 74px;
	background-color: #ed7d31;
	width: 40px;
}
.orange-box .title span {
	background: #f5b98f;
	width: 50px;
	display: inline-block;
	height: 50px;
	text-align: center;
	box-sizing: border-box;
	line-height: 50px;
	border-radius: 50%;
	position: absolute;
	top: 22px;
	left: -25px;
}

/* 원우회 */
.wwh-wel h4 {
	background: none;
	padding: 0;
	text-align: center;
	font-size: 24px;
	margin: 50px 0;
}
.wwh-wel p {
	padding: 0 20px;
}

/* 원우회 조직도 */
.org-231020{background: #e8e9eb; text-align: center; padding: 0 10px 30px; letter-spacing: -1px; width: 96%; border-radius: 10px;}
.org-231020 .title{width: 80%; margin: 0 auto 40px; background: #fff; padding-bottom: 10px; border-radius: 0 0 80px 80px; box-shadow: 1px 2px 6px rgba(0,0,0,0.3); }
.org-231020 .title > div{background: #005dab; padding: 10px 20px 16px; border-radius: 0 0 80px 80px; box-shadow: 1px 1px 4px rgba(0,0,0,0.3);}
.org-231020 .title > div > span{display: block; font-size: 18px; color: #fff; line-height: 24px;}
.org-231020 .title > div > p{font-size: 24px; color: #fff; font-weight: 600; line-height: 30px;}

.org-231020 .t1{max-width: 680px; margin: 0 auto;}
.org-231020 .t2{margin-top: 25px; position: relative; z-index: 1;}
.org-231020 .t2:after{content: ''; position: absolute; left: 50%; top: -25px; height: 118px; width: 1px; background: #bac3d1; z-index: -1;}
.org-231020 .s1{width: 40%; max-width: 232px; margin: 0 auto; background: #fff; padding: 5px; border-radius: 8px; box-shadow: 1px 1px 4px rgba(0,0,0,0.3);}
.org-231020 .s1 > span{display: inline-block; width: 90px; max-width: 100%; border-bottom: 1px solid #e6e6e6; font-size: 15px; color: #005dab; font-weight: 600; line-height: 20px;}
.org-231020 .s1 > p{font-size: 12px; color: #5d5d5d;  line-height: 20px;}
.org-231020 .s1.nl{position: absolute; right: 0; top: -15px; width: 130px; max-width: none;}
/*.org-231020 .s1.nl > span{border-bottom: none;}*/

.org-231020 .t3{display: flex; align-items: flex-start; max-width: 680px; margin: 0 auto; padding-top: 25px; margin-top: 35px; position: relative;}
.org-231020 .t3:before{content: ''; position: absolute; left: 8%; right: 8%; top: 0; height: 1px; background: #bac3d1; margin-left: 2px; margin-right: 2px;}
.org-231020 .t3 > li{width: 15%; flex-grow: 1; margin: 0 5px; position: relative; z-index: 1;}
.org-231020 .t3 > li:after{content: ''; position: absolute; left: 50%; top: -25px; bottom: 0; width: 1px; background: #bac3d1; z-index: -1;}
.org-231020 .t3 > li > p{font-size: 14px; color: #005dab; font-weight: 600; line-height: 20px; padding: 5px; background: #fff; border-radius: 8px; box-shadow: 1px 1px 4px rgba(0,0,0,0.3);}
.org-231020 .t4{margin-top: 6px;}
.org-231020 .t4 > li > div{padding: 5px 10px; background: #fff; border-radius: 8px;  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);}
.org-231020 .t4 > li > div > span{display: block; font-size: 12px; color: #5d5d5d; line-height: 18px; border-bottom: 1px solid #e6e6e6; font-family: 'Pretendard', sans-serif; font-weight: bold;}
.org-231020 .t4 > li > div > p{font-size: 12px; color: #5d5d5d; line-height: 18px;}
.org-231020 .t5{margin-top: 15px;}
.org-231020 .t5 > li > p{display: flex; border-radius: 8px; background: #fff;  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);}
.org-231020 .t5 > li > p > span{display: flex;     justify-content: center;  align-items: center; width: 50%; height: 30px;  font-size: 12px; color: #5d5d5d; line-height: 18px; position: relative;}
.org-231020 .t5 > li > p > span + span:before{content: ''; position: absolute; left: 0; top: 10px; bottom: 10px; width: 1px; background: #e8e8e8;}
.org-231020 .t6{margin-top: 15px;}
.org-231020 .t6 > li + li{margin-top: 5px;}
.org-231020 .t6 > li > p{display: flex; background: #fff; border-radius: 8px;  box-shadow: 1px 1px 4px rgba(0,0,0,0.3);}
.org-231020 .t6 > li > p > span{display: flex;     justify-content: center;  align-items: center; width: 50%; height: 30px;  font-size: 12px; color: #5d5d5d; line-height: 18px;}

/* 동문회 */
.mba01 {
	width: 150px;
	height: 80px;
	background-color: #4472c4;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.mba01:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	width: 2px;
	height: 120px;
	margin-left: -2px;
	background: #d6d6d6;
}
.mba01.mid:after{
	height: 100px;
}

.mba01.last:after {
	display: none;
}

.mba01 span {
	color: #fff;
	font-size: 17px;
	font-weight: bold;
}

.mba02 {
	width: 150px;
	height: 80px;
	background-color: #3ca7d4;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
	z-index: 1;
}
.mba02 span {
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	background: #3ca7d4;
	padding: 0 20px;
	line-height: 23px;
	text-align: center;
	border-radius: 10px;
}
.mba02.con:before {
	content: "";
	position: absolute;
	left: 22%;
	right: 50%;
	top: 50%;
	height: 2px;
	margin-top: -2px;
	background: #d6d6d6;
	z-index: -1;
}
.secon {
	display: flex;
	justify-content: space-between;
	margin-top: 3px;
	width: 52%;
	position: relative;
}
.second:before {
	content: "";
	position: absolute;
	left: 20%;
	right: 20%;
	top: 50%;
	height: 2px;
	margin-top: -2px;
	background: #d6d6d6;
}
/* 역대 임원진 */
.outer {
	border: 2px solid #4472c4;
	border-radius: 15px;
	margin: 10px 10px 20px 10px;
	padding: 10px;
}
.outer p {
	font-size: 17px;
	padding: 14px 0 20px 56px;
}


@media screen and (max-width: 600px){
	.org-231020 .title{width: auto; }
	.org-231020 .t3{flex-wrap: wrap; padding: 0 5px; border: 1px solid #bac3d1;}
	.org-231020 .t3 > li{width: calc(30% - 10px); margin: 10px 5px;}
	.org-231020 .t3:before, .org-231020 .t3 > li:after{display: none;}
	.org-231020 .t5, .org-231020 .t6{margin-top: 6px;}
	.org-231020 .s1{width: 35%;}
	.org-231020 .s1.nl{width: 80px;}
	.brd-lstp2 > li .num {display: none;}
	.brd-lstp2 > li {padding-left: 5px !important;}
}

@media screen and (max-width: 400px){
	.org-231020 .title > div > span{font-size: 16px;}
	.org-231020 .title > div > p{font-size: 20px;}
	.org-231020 .s1{width: 30%;}
	.org-231020 .s1.nl{width: 70px;}
}
/* 원우회 조직도 끝 */





@media screen and (max-width:1400px) {
	
}

@media screen and (max-width:1024px) {
	/*common s*/
	.leftMenu-area{display: none; }
	.content-area{float: none; width: 100%;}
	.sub-container {margin-top: 0px;}
	.line-map{margin-top: 15px;margin-bottom: 10px;margin-left: 45px;}
	.page-tit{font-size: 30px;line-height: 35px;}
	.sub-tp{padding-bottom: 10px;margin-bottom: 20px;}
	.line-map > li:first-child{margin-left: -42px;}
	/*common e*/


}

@media screen and (max-width:768px) {
	/* 원장인사 */
	.welcomeBox > div {float:none; width:100%; padding:0;}
	.intro_left img{width: 100%;}
	.welcomeBox > div .tit {margin-top: 10px !important;}
	.int_txt {padding-left: 19px;}

	/* 탭 */
	.new2022-tab1 > li{
		width: 50% !important;
		padding: 1px 2px !important;
	}
	/* 3P2S */
	.container {
		flex-direction: column;
	}
	.blue-box::before {
		display: none;
	}
	.orange-box::before{
		display: none;
	}
	.center-box {
		width: 220px;
		height: 150px;
		margin: 20px 0;
	}
	.center-box .content{
		padding-top: 15px;
	}

	/*	FAQ */
	.faqList { margin-top:40px; }
	.faqList .tag { width:35px; height:35px; margin-right:10px; font-size:14px; }
	.faqList dt { padding:20px 0; }
	.faqList dt p { padding-right:20px; font-size:17px; background-size:auto 6px; }
	.faqList dd { padding:40px 20px; }
	.faqList dd > div:nth-of-type(1) { width:calc(100% - 5px); }
	.faqList span{font-size: 15px;}

	/* 게시판 */
	 colgroup {display: none;}
	.btnList{margin-bottom: 80px;}
	/*.btn{border-radius: 0.25rem; font-size: 13px;}*/
	.btn.btnDown{height: 25px; width: auto; margin: 0 8px 5px 0;}
	.brd-search select{margin-right: 0; margin-bottom: 10px;}
	.fileArea {margin-top:40px;padding:18px 20px;}
	.fileArea a:hover>span {border:none;color:inherit;}
	.fileArea a {font-size:1.6rem;}
	.brd-lstp1 thead{display: none;}
	.brd-lstp1 table td{display: block; height: auto; box-sizing: border-box; border: 0; padding: 5px; text-align: left;}
	.brd-lstp1 table td.tit{white-space: normal;}
	.brd-lstp1 table tr{border-bottom: 1px solid #d8d8d8;}
	.brd-lstp1 table td a{font-size: 17px;display: -webkit-box;-webkit-line-clamp: 2;overflow: hidden;white-space: inherit;font-weight: bold;}
	.brd-lstp1 .no,
	.brd-lstp1 td.file{display: none;}
	.brd-lstp1 td.name,
	.brd-lstp1 td.date,
	.brd-lstp1 td.hit{display:inline-block;width:auto;margin-right:10px;vertical-align: middle;font-size:15px;font-weight: 300;}
	.brd-lstp1 table tr:hover{background: none;}

	.content-area h3{margin-top: 30px; margin-bottom: 20px;}
	.content-area h4{background: url(../../images/gtaxNew/common/h4.png) 2px 31px no-repeat;padding: 26px 0 0 20px;}
	.content-area h4 ~ .desc{margin-left: 0px;}
	.wwh-wel h4{background:none;padding: 0px;}
	.listType02{margin-left: 0 !important; overflow-x: scroll;}

	.listGallery li .imgBox span.bg {display:none;}
	.listGallery {padding:20px 0 0;}
	.listGallery li {width:49.4%;padding:0 1% 20px;}

	/* 학사일정 */
	.listType02 th.cal {
		font-size: 13px;
		width: 70px;
		font-weight: 600;
	}
	.cal-date{display: none;}
	.cal-no span, .cal-tit{font-size: 14px; padding-left: 5px !important;}

	/* 조직도 */
	.subordinates {
		flex-wrap: wrap;
	}
	.square {
		width: calc(33.33% - 10px);
		margin-bottom: 28px;
	}
	.subordinates::after{
		left: 16%;
		right: 16%;
	}
	.secondary{
		width: 82%;
		top: 50px;
	}
	.squ{
		height: 77px;
	}
	.dean::after{
		height: 95px;
	}
	.dean.vice::after {
		height: 92px;
	}
	.comm{
		width: 140px;
		height: 50px;
		margin-left: 254px;
		top: 10px;
	}
	.comm::before{
		left: -42%;
	}
	.squ.conn::after{
		height: 35px;
	}
	.secon{
		width: 90%;
		top: 10px;
	}


}


@media screen and (max-width: 400px) {
	.secon{
		width: 100%;
	}
	.mba02 {
		width: 140px;
		height: 70px;
	}
	.mba02 span {
		font-size: 14px;
		padding: 0 21px;
	}

	
}
