
@import 'reset.css';
@import 'main.css';
@import 'sub.css';
/* fonts */
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core1.woff') format('woff');
        font-weight: 100;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core2.woff') format('woff');
        font-weight: 200;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core3.woff') format('woff');
        font-weight: 300;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core4.woff') format('woff');
        font-weight: 400;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core5.woff') format('woff');
        font-weight: 500;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core6.woff') format('woff');
        font-weight: 600;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core7.woff') format('woff');
        font-weight: 700;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core8.woff') format('woff');
        font-weight: 800;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core9.woff') format('woff');
        font-weight: 900;
        font-style: normal;
}
@font-face {
        font-family: 'Britannic-Bold';
        src: url('../fonts/OPTIBritannic-Bold.otf') format('opentype');
        font-weight: bold;
        font-style: normal;
}
/* -- fonts */

/*전체 공통*/
input::placeholder{color:#757575; font-size: 14px;}
a, span, b, strong{display: inline-block;}

body{font-weight: 400; min-width: 320px; line-height: 1.4; font-family: 'S-Core';}
.blind {position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px;}
.clearfix:after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
/* margin */
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}

/* padding */
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl25{padding-left: 25px;}


/* text-align */
.al{text-align:left;}
.ac{text-align:center;}
.ar{text-align:right;}
/* font-size */
.fz14{font-size: 14px;}
.fz16{font-size: 16px;}
.fz18{font-size: 18px;}
.fz20{font-size: 20px;}
.fz22{font-size: 22px;}
.fz24{font-size: 24px;}

/* font-weight */
.f-light{font-weight: 100;}
.f-normal{font-weight: 400;}
.f-bold{font-weight: 700;}

.fcW{color:#fff;}
.fcBk{color:#2a2a2a;}
.fcBl{color:#0e3174;}
.fcBl2{color:#1b4fb4;}
.fcR{color:#e60013;}
.fcR2{color:#d23340;}
.point{color:#0e3174;}
/* color */

/* var */
:root{
        /* font-size */
        --fz-16: 16px;
        --fz-18: 18px;
        --fz-20: 20px;
        --fz-22: 22px;
        --fz-24: 24px;

}
@media (max-width: 480px) {
        :root{
                /* font-size */
                --fz-16: 14px;
                --fz-18: 16px;
                --fz-20: 18px;
                --fz-22: 20px;
                --fz-24: 22px;
        
        }
}
/* --var */


/* ***********************************
            common.css
        font / header / footer
* ***********************************/
/* font */
/* --font */
/* header */
.header{}
.header .header-top{padding:20px 0; border-bottom: 1px solid #D8D8D8; font-size: 15px;}
.header .header-top > .inner{max-width: 1800px; padding:0 15px; margin:0 auto; display: flex; justify-content: space-between; align-items: center;}
.header .header-top .top-logo{display: flex;}
.header .header-top .h-logo{display: flex; align-items: center;}
.header .header-top .h-logo img{margin-right: 15px;}
.header .header-top .h-logo-txt{padding:0 18px 0 14px; font-size: 22px; color:#014195; font-weight: 600; position: relative;}
.header .header-top .h-logo-txt::before{
        content:"";
        display: inline-block;
        width: 1px;
        height: 18px;
        background-color:#014195;
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
}
.header .header-top .g-lang{height: 35px; border:1px solid #E8E8E8; border-radius: 40px; overflow: hidden; padding-left: 36px; padding-right: 16px; background:#ffffff url("../images/h-google.png") left 13px center no-repeat;}
.header .header-top .g-lang > select{height: 100%;padding-right: 10px;}

.header-top .top-menu{display: flex; gap: 10px; align-items: center;}
.util-list > li{float:left;}
.util-list > li:nth-child(1){margin-right: 25px;}
.util-list > li .login-icn{padding-left: 18px; background: url("../images/login-icn.png") left center no-repeat;}
.util-list > li .lang-icn{padding-left: 20px; background: url("../images/lag-icn.png") left center no-repeat;}
.top-gbn-pc > li{float:left; color:#7d7d7d; padding:0 10px; position: relative;}
.top-gbn-pc > li:not(:last-child):after{
        content:"";
        display: inline-block;
        width: 1px;
        height: 13px;
        background-color: #dfdfdf;
        position: absolute;
        right:0;
        top:5px;
}

.header-bot{position: relative; background-color: #fff;}
/* GNB */
.depth1_list{display: flex; text-align: center;  justify-content: center;  font-size: 19px; padding:40px 0;}
.depth1_list > li{width: 180px; position: relative;outline:1px solid red;}
.depth1_list > li > a{display: inline-block; text-align: center; }
.depth1_list > li > .depth2{display: none;position: absolute;left: 0;top: 100%;z-index: 99;padding-top: 35px;width: 100%;}

.depth2 .depth2_list{text-align: left; padding:0 10px; font-size: 16px;}
.depth2 .depth2_list > li + li{margin-top: 20px;}
.depth2 .depth2_list > li > a{display: block;position: relative; }


.depth3{padding-left: 10px; padding-top: 10px;}
.depth3 .depth3_list > li + li{margin-top: 5px;}
.depth3 .depth3_list > li > a{display: block; font-family: 'Pretendard',sans-serif; text-align: left; letter-spacing: -1px;font-size: 15px;color: #666; position: relative;}
.depth3 .depth3_list > li > a > span{display: inline-block; padding-left: 10px; }
.depth3 .depth3_list > li > a > span:before{ content:"-"; display: inline-block; color:#9197c5; position: absolute; left:0; top:-2px} 
.depth3 .depth3_list > li > a:hover,.depth3 .depth3_list > li > a:focus{color: #004483;}
.depth3 .depth3_list > li > a:hover > span,.depth3 .depth3_list > li > a:focus > span{text-decoration: underline;}
/* -- GNB */
.menu-back{display: none; background-color: #fff; width: 100%; z-index: 9; height: 500px; position: absolute; left:0; top:106px;}



.top-gbn-mo{display: none;}
.menu-out{display: none;}
/* -- header */
/* footer */
#footer{background-color: #fff;}
#footer > .inner{max-width: 1400px; margin:0 auto; padding:40px; display: flex; gap: 26px; justify-content: space-between;}
#footer .fLoc{ max-width: 640px; font-size: 15px; color:#505050;font-weight: 300;}
#footer .fLoc .copy{color:#858585; margin-top: 5px;}
#footer .fIcon{padding-left: 45px; background: url("../images/f-insta.png") left top no-repeat;}
#footer .fIcon select{ width: 100%; padding:6px 10px; background-color: #fff; border:1px solid #D9D9D9; border-radius: 5px;font-size: 15px;font-weight: 300;}
/* -- footer */

@media (max-width: 1400px) {
        #footer > .inner{flex-wrap: wrap;}
        #footer .fLogo{order: 1;}
        #footer .fLoc{width: 100%; order: 3;}
        #footer .fIcon{ order: 2;}
}
@media (max-width: 1200px) {
        .header .header-top > .inner{flex-direction:column-reverse;align-items: flex-start;gap: 15px;}
        .header-top .top-menu{width: 100%; justify-content: flex-end;}

}
@media (max-width: 1024px){
        .header .header-top > .inner{flex-direction: row; align-items: center; flex-wrap: wrap;}
        .header .header-top .top-logo{flex-wrap: wrap;}
        .header-top .top-menu{width: auto;}
        .header-top .top-menu .util-list{display: none;}
        .header-top .top-menu .top-gbn-pc{display: none;}
        .header-bot{display: none;}
}
@media (max-width: 670px) {
        body{font-size: 15px;}
}

@media (max-width: 480px) {
        body{font-size: 14px;}
}

/* ***********************************
        SNB / paging / sub-layout
* ***********************************/
/* sub layout */
.s-container {padding: 70px 0 90px;}
.wid {width: 96%;max-width: 1280px; margin: 0 auto;}

.sub-tp{margin-bottom: 60px;}
.stp-bt{float: right; margin-top: 30px;}
.stp-bt > li{float: left; margin-left: 8px;}
.stp-bt .zoom{border: 1px solid #ccc; background: #ccc; }
.stp-bt .zoom > a{display: block; float: left; font-size: 0; width: 30px; height: 30px; background: #fff; position: relative;}
.stp-bt .zoom > a + a{margin-left: 1px;}
.stp-bt .zoom .minus:before{content: ''; position: absolute; left: 8px; right: 8px; top: 50%; height: 2px; margin-top: -1px; background: #333;}
.stp-bt .zoom .default:before{content: ''; position: absolute; left: 8px; right: 8px; top: 50%; height: 2px; margin-top: -5px; background: #333;}
.stp-bt .zoom .default:after{content: ''; position: absolute; left: 8px; right: 8px; top: 50%; height: 2px; margin-top: 3px; background: #333;}
.stp-bt .zoom .plus:before{content: ''; position: absolute; left: 8px; right: 8px; top: 50%; height: 2px; margin-top: -1px; background: #333;}
.stp-bt .zoom .plus:after{content: ''; position: absolute; top: 8px; bottom: 8px; left: 50%; width: 2px; margin-left: -1px; background: #333;}
.stp-bt .zoom a span{position: absolute; width: 0; height: 0; overflow: hidden;}
.stp-bt .copyUrl a:focus {outline:2px solid red;}
.stp-bt .copyUrl a{display: block; width: 90px; text-align: center; background: #333; font-size: 14px; color: #fff; line-height: 20px; padding: 6px 0;}

.sub-nav{margin-top: 50px;}
.line-map{background-color: rgba(238, 238, 238, 1);border-radius:15px 15px 0 0; display: flex; position: relative;}
.line-map > li{ min-width: 20%;	width: auto;padding: 15px 0; color: #666; font-size: 20px; letter-spacing: -1px; padding-left: 1px; position: relative; display: flex; align-items: center;}
.line-map > li + li:before{content: ''; position: absolute; left: 0; top: 5px; bottom: 5px; width: 1px; background: #ccc;}
.line-map > li.home{background: none; padding: 15px; min-width: 35px !important;background:#2241b6; border-radius: 15px 0 0 0;}
.line-map > li.home > a{padding: 0;background: none;line-height: unset;}
.line-map > li > strong{display: table-cell;vertical-align: middle;padding: 0 20px;color: #000;line-height: 1;word-break: keep-all;}
.line-map > li > a{display: block;width: 100%; padding: 0 50px 0 20px;background: url('../../static/images/sub_nav_bg1.png') no-repeat right 20px  top 12px;word-break: keep-all;}
.line-map > li > a.on{background: url('../../static/images/sub_nav_bg2.png') no-repeat right 20px  top 12px;}
.line-map > li > a.nl{padding: 0 20px; background: none;}
.line-map > li:last-child > a{color: #2241b6; font-weight: 600;}
.line-map > li > ul{display: none; position: absolute; top: 100%; left: -1px; right: 0; z-index: 9; padding: 15px;background: #fff; border: 1px solid #ccc; box-shadow: 1px 2px 4px rgba(0,0,0,0.3);}
.line-map > li > ul > li + li{margin-top: 10px;}
.line-map > li > ul > li > a{display: block;color: #666;font-size: 15px;line-height: 18px;}


@media (max-width: 760px) {
        .stp-bt{display: none;}

        .line-map > li{margin-right: 2px; min-width:auto; padding:0 10px;}
        .line-map > li > a{background: none; padding:0; vertical-align: middle; width: auto;}
        .line-map > li.home{width: 50px;     padding: 10px 0; text-align: center;}
        .line-map > li.home > a{width: 100%;}
        .line-map > li.home img{vertical-align: middle;  width: 30px;}
        .line-map > li + li:before{position: static; display: inline-block; vertical-align: middle; width: 9px; height: 11px; margin-right: 10px; background: url(../../static/images/sub_nav_arr.png) no-repeat;}

}
@media (max-width: 480px) {
        .line-map > li{font-size: 15px;}
}