
@import 'reset.css';
@import 'main.css';
@import 'sub.css';
/* fonts */
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core1.woff') format('woff');
        font-weight: 100;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core2.woff') format('woff');
        font-weight: 200;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core3.woff') format('woff');
        font-weight: 300;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core4.woff') format('woff');
        font-weight: 400;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core5.woff') format('woff');
        font-weight: 500;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core6.woff') format('woff');
        font-weight: 600;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core7.woff') format('woff');
        font-weight: 700;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core8.woff') format('woff');
        font-weight: 800;
        font-style: normal;
}
@font-face {
        font-family: 'S-Core';
        src: url('../fonts/S-Core9.woff') format('woff');
        font-weight: 900;
        font-style: normal;
}
@font-face {
        font-family: 'Britannic-Bold';
        src: url('../fonts/OPTIBritannic-Bold.otf') format('opentype');
        font-weight: bold;
        font-style: normal;
}
/* -- fonts */

/*전체 공통*/
input::placeholder{color:#757575; font-size: 14px;}
a, span, b, strong{display: inline-block;}

body{font-weight: 400; min-width: 320px; line-height: 1.4; font-family: 'S-Core'; letter-spacing: -0.02em;}
.blind {position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px;}
.clearfix:after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
/* margin */
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}

.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb25{margin-bottom: 25px;}
.mb30{margin-bottom: 30px;}

/* padding */
.pl10{padding-left: 10px;}
.pl15{padding-left: 15px;}
.pl20{padding-left: 20px;}
.pl25{padding-left: 25px;}


/* text-align */
.al{text-align:left;}
.ac{text-align:center;}
.ar{text-align:right;}
/* font-size */
.fz14{font-size: 14px;}
.fz16{font-size: 16px;}
.fz18{font-size: 18px;}
.fz20{font-size: 20px;}
.fz22{font-size: 22px;}
.fz24{font-size: 24px;}

/* font-weight */
.f-light{font-weight: 100;}
.f-normal{font-weight: 400;}
.f-bold{font-weight: 700;}

.fcW{color:#fff;}
.fcBk{color:#2a2a2a;}
.fcBl{color:#0e3174;}
.fcBl2{color:#1b4fb4;}
.fcR{color:#e60013;}
.fcR2{color:#d23340;}
.point{color:#0e3174;}
/* color */

/* var */
:root{
        /* font-size */
        --fz-15: 15px;
        --fz-16: 16px;
        --fz-18: 18px;
        --fz-20: 20px;
        --fz-22: 22px;
        --fz-24: 24px;
        --fz-30: 30px;
        --fz-38: 38px;
        --fz-45: 45px;


}
@media (max-width: 670px) {
        :root{
                /* font-size */
                --fz-30: 28px;
                --fz-38: 32px;
                --fz-45: 38px;
        }
}
@media (max-width: 480px) {
        :root{
                /* font-size */
                --fz-15: 14px;
                --fz-16: 15px;
                --fz-18: 16px;
                --fz-20: 18px;
                --fz-22: 20px;
                --fz-24: 22px;
                --fz-30: 24px;
                --fz-38: 26px;
                --fz-45: 34px;
        
        }
}
/* --var */


/* ***********************************
            common.css
        font / header / footer
* ***********************************/
/* font */
/* --font */

/* header */
#wrap{position: relative;}

.header .header-top{padding:20px 0; border-bottom: 1px solid #D8D8D8; font-size: 15px;}
.header .header-top > .inner{max-width: 1800px; padding:0 15px; margin:0 auto; display: flex; justify-content: space-between; align-items: center;}
.header .header-top .top-logo{display: flex;}
.header .header-top .h-logo{display: flex; align-items: center;}
.header .header-top .h-logo img{margin-right: 15px;}
.header .header-top .h-logo-txt{padding:0 18px 0 14px; font-size: 22px; color:#014195; font-weight: 600; position: relative;}
.header .header-top .h-logo-txt::before{
        content:"";
        display: inline-block;
        width: 1px;
        height: 18px;
        background-color:#014195;
        position: absolute;
        left:0;
        top:50%;
        transform: translateY(-50%);
}
.header .header-top .g-lang{height: 35px; border:1px solid #E8E8E8; border-radius: 40px; overflow: hidden; padding-left: 36px; padding-right: 16px; background:#ffffff url("../images/h-google.png") left 13px center no-repeat;}
.header .header-top .g-lang > select{height: 100%;padding-right: 10px;}

.header-top .top-menu{display: flex; gap: 10px; align-items: center;}
.util-list > li{float:left;}
.util-list > li:nth-child(1){margin-right: 25px;}
.util-list > li .login-icn{padding-left: 18px; background: url("../images/login-icn.png") left center no-repeat;}
.util-list > li .lang-icn{padding-left: 20px; background: url("../images/lag-icn.png") left center no-repeat;}
.header-top .top-menu .srch-open{background: url("../images/h-src.png") no-repeat; width: 32px; height: 32px;}
.header-top .top-menu .menu-open{background: url("../images/all-menu.png") left center no-repeat; width: 35px; height: 32px;}

.srch-box{position: absolute; left:0; top:76px; background-color: rgba(22, 22, 22,0.9); width: 100%; height: 0; z-index: 999;  overflow: hidden; transition: height 0.5s;}
.srch-box .srch-box-in{max-width: 860px; margin:60px auto; display: none;}
.srch-box .srch-box-in .srch-df{display: flex; align-items: center;}
.srch-box .srch-box-in .srch-line{width: 90%; border-bottom:1px solid #A0A09F;}
.srch-box .srch-box-in .srch-line input[type="text"]{border:0; background-color: transparent; color:#fff; width: calc(100% - 60px); padding:20px 0 10px; text-indent: 16px; font-size: var(--fz-22);}
.srch-box .srch-box-in .srch-line input[type="text"]::placeholder{color:#fff;font-size: var(--fz-22);}
.srch-box .srch-box-in .serch-btn{width: 32px; height: 32px; background: url("../images/h-src2.png") no-repeat;}
.srch-box .srch-box-in .srch-close{width: 38px; height: 38px; background: url("../images/h-src-close.png") no-repeat; margin-left: 20px; }
.srch-box.active{display: block; height: 180px; }
.srch-box.active .srch-box-in{display: block;}



.top-gbn-pc > li{float:left; color:#7d7d7d; padding:0 10px; position: relative;}
.top-gbn-pc > li:not(:last-child):after{
        content:"";
        display: inline-block;
        width: 1px;
        height: 13px;
        background-color: #dfdfdf;
        position: absolute;
        right:0;
        top:5px;
}

.header-bot{position: relative; background-color: #fff;}
/* GNB */
.depth1_list{display: flex; text-align: center;  justify-content: center; gap: 60px;  font-size: 19px; padding:40px 0; position: relative;}
.depth1_list > li > a{display: inline-block; text-align: center; padding:0 5px; position: relative; z-index: 9;}
.depth1_list > li > a:hover::before,.depth1_list > li > a:focus::before{
        content: "";
        display: inline-block;
        width: 100%;
        height: 16px;
        border-radius: 40px;
        background-color: rgba(127, 192, 238,0.25);
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        bottom:-4px;
        z-index: -1;
}
.depth1_list > li > .depth2{display: none; width: 100%; position: absolute; left:0; top:100%; z-index: 999;  border-top:1px solid #EBECEF;}

.depth2 .dp2-bx{display: flex; min-height: 326px;}
.depth2 .dp2-itx{background-color: #004298; color:#fff;font-weight: 700; font-size: 37px; max-width: 425px;width: 22%; padding-top: 48px; display: flex;justify-content: flex-end}
.depth2 .dp2-itx > h2{padding-top: 27px; position: relative; text-align: left; word-break: break-all; margin:0 70px 0 20px; min-width: 180px;}
.depth2 .dp2-itx > h2::before{
        content: "";
        display: inline-block;
        width: 30px;
        height: 7px;
        background-color: #5CB4F2;
        position: absolute;
        left:2px;
        top:0;

}

.depth2 .depth2_list{width: 88%; text-align: left;font-size: 16px; background-color: #F9FAFF; display: flex;}
.depth2 .depth2_list > li{width: calc(100% / 5); padding:48px 30px 0 30px; border-right: 1px solid #EBECEF;}
.depth2 .depth2_list > li:last-child{border:0;}
.depth2 .depth2_list > li > a{display: block; width: 100%; font-size: 19px; font-weight: 600; color:#004298;}

.depth3{padding:30px 10px 30px;}
.depth3 .depth3_list > li + li{margin-top: 10px;}
.depth3 .depth3_list > li > a{display: block;text-align: left; letter-spacing: -1px;font-size: 15px; font-weight: 300;color: #6f6f6f; position: relative;}
.depth3 .depth3_list > li > a > span{display: inline-block; padding-left: 10px; }
.depth3 .depth3_list > li > a > span:before{ content:""; display: inline-block; width: 4px; height: 4px; border-radius: 50%; background-color: #6f6f6f; position: absolute; left:0; top:9px} 
.depth3 .depth3_list > li > a:hover,.depth3 .depth3_list > li > a:focus{color: #004483;}
.depth3 .depth3_list > li > a:hover > span,.depth3 .depth3_list > li > a:focus > span{text-decoration: underline;}
/* -- GNB */
.menu-back{display: none; background-color: #fff; width: 100%; z-index: 9; height: 500px; position: absolute; left:0; top:106px;}



.top-gbn-mo{display: none;}
.menu-out{display: none;}
/* -- header */
/* footer */
#footer{background-color: #fff; border-top: 1px solid #F0F0F0;}
#footer > .inner{max-width: 1400px; margin:0 auto; padding:40px; display: flex; gap: 26px; justify-content: space-between;}
#footer .fLoc{ max-width: 640px; font-size: 15px; color:#505050;font-weight: 300;}
#footer .fLoc .copy{color:#858585; margin-top: 5px;}
#footer .fIcon{padding-left: 45px; background: url("../images/f-insta.png") left top no-repeat;}
#footer .fIcon select{ width: 100%; padding:6px 10px; background-color: #fff; border:1px solid #D9D9D9; border-radius: 5px;font-size: 15px;font-weight: 300;}
/* -- footer */


@media (max-width: 1760px) {
        .depth2 .dp2-itx {width: 240px; justify-content: flex-start;}
        .depth2 .dp2-itx > h2{margin-right: 0;}

        .depth2 .depth2_list{width: calc(100% - 240px);}
}
@media (max-width: 1400px) {
        .depth1_list{gap: 0; justify-content: space-around;}
        .depth2 .dp2-itx{width: 240px;}
        .depth2 .depth2_list{flex-wrap: wrap; padding: 38px 0; }
        .depth2 .depth2_list > li{padding:0px 20px 0 20px; width: calc(100% / 3 ); border:0;}


        #footer > .inner{flex-wrap: wrap;}
        #footer .fLogo{order: 1;}
        #footer .fLoc{width: 100%; order: 3;}
        #footer .fIcon{ order: 2;}
}

@media (max-width: 1220px) {
        .header .header-top > .inner{flex-direction:column-reverse;align-items: flex-start;gap: 15px;}
        .header-top .top-menu{width: 100%; justify-content: flex-end;}
        .srch-box{top: 123px;}

}
@media (max-width: 1024px){
        .header .header-top > .inner{flex-direction: row; align-items: center; flex-wrap: wrap;}
        .header .header-top .top-logo{flex-wrap: wrap;}
        .header .header-top .g-lang{display: none;}
        .header-top .top-menu{width: auto;}
        .header-top .top-menu .util-list{display: none;}
        .header-top .top-menu .top-gbn-pc{display: none;}
        .header-bot{display: none;}

        .srch-box {top: 76px;}
}

@media (max-width: 760px) {
        
        .header .header-top .h-logo img{width: 214px; margin-right: 10px;}
        .header .header-top .h-logo-txt {font-size: 15px;    padding: 0 0 0 10px;}
        .header .header-top .h-logo-txt::before {height: 12px;}
        .menu-open > img{width: 30px;}

        .srch-box{top: 73px;}
}
@media (max-width: 670px) {
        body{font-size: 15px;}
}

@media (max-width: 480px) {
        body{font-size: 14px;}
        body.setAni::after{width: 500%;}
}




/* all menu popup  */
body::after {
        background: #0421307e;
        position: fixed;
        content: '';
        left: 50%;
        top: -75%;
        width: 0;
        height: 250%;
        z-index: 99999;
        opacity: 1;
        transition: all 0.5s ease;
        display: block;
        transform: rotate(45deg);
}
    
body.setAni::after {
        opacity: 1;
        left: -50%;
        width: 200%;
}
body.setAni #all-menu-pop {
        display: block;
        opacity: 1 !important;
        transition: all 0.4s 0.2s ease;
}
@media (min-width: 760px) {
        #all-menu-pop{position: fixed; left:0; top:0; width: 100%; height: 100%;  z-index: 100000; opacity: 0; display: none;}
        .all-menu-box .pop-header{ display: flex;flex-flow: row wrap; align-items: center; justify-content: space-between;position: relative;background-color: #014195;  height: 110px; font-size: var(--fz-24); font-weight: 600; padding:30px 20px; color: #fff; border-radius: 0 0 20px 20px;}
        .all-menu-box .pop-header::before{
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 20px;
                width: 100%;
                height: 100%;
                z-index: -1;
        }
        .all-menu-box .pop-content{padding: 0px 30px; max-height: 700px; overflow-y: scroll;}
        .all-menu-box{ background-color: #fff; max-width: 1400px;  width: 100%; position: fixed; left:50%; top:50%; transform: translate(-50%, -50%); border-radius: 20px; overflow: hidden;}

        .all-menu-box .util-list{display: none;}
        
        .all-menu-depth > li{display: flex; gap: 20px; padding:60px 0;}
        .all-menu-depth > li + li{ border-top: 2px dotted #ccc;}
        .all-menu-depth > li > .menu-depth1{width: 20%; font-size: var(--fz-30); font-weight: 700; }
        
        .all-menu-depth .depth2_list {width: calc(80% - 20px); display: flex; flex-wrap: wrap; column-gap: 20px; row-gap: 40px;}
        .all-menu-depth .depth2_list > li{width: calc(100% / 3 - 30px) ; min-width: 280px;}
        .all-menu-depth .depth2_list > li >a{height: 60px; background-color: #000; color:#fff; border-radius: 10px; font-size: var(--fz-18); font-weight: 500;display: flex; align-items: center; justify-content: center; padding:0 30px; cursor:unset;}
  
        .all-menu-depth .depth3{display: block;}

        .all-menu-box .menu-close{width: 50px; height: 50px; border-radius: 50%; border:1px solid #fff; position: absolute; right: 25px; top:30px; background:url("../images/all-menu-close2.png") center center no-repeat; transform: rotate(0deg); transition: transform 0.8s ease-out;}
        .all-menu-box .menu-close:hover,.all-menu-box .menu-close:focus{border:2px solid #fff; transform: rotate(180deg);}
}
@media (max-width: 759px) {
        #all-menu-pop{position: fixed; right:0; top:0; width: 95%; height: 100%;  z-index: 100000; opacity: 0; display: none; }
        .all-menu-box{background-color: #fff; border-radius: 20px 0 0 20px;}
        .all-menu-box .pop-header{display: none;}
        .all-menu-box .pop-content{padding:0;}
        .all-menu-box .util-list{padding:30px 20px; display: flex;}
        .all-menu-box .util-list > li{margin-right: 20px;}
  
        .all-menu-depth{position: relative; padding-bottom:20px;}
        .all-menu-depth > li .menu-depth1{width: 30%; padding:16px 10px; font-size: 16px;}
        .all-menu-depth > li .depth2_list{width:70%; height: 100%; padding:10px 20px; display: block; font-size: 15px; position: absolute; right:0; top:0; background-color: #004298; color:#fff; display: none; overflow-y: scroll;}
        .all-menu-depth .depth2_list > li {padding:14px 0;}
        .all-menu-depth .depth2_list > li + li{ border-top:1px dotted #ccc;}
        .all-menu-depth .depth2_list > li > a{display: block; width: 100%;}
        .all-menu-depth .depth2_list > li .menu-depth2{background-image: url("../images/arrw08.png"); background-repeat: no-repeat; background-position: 95% center; padding-right: 20px;}

        .all-menu-depth .depth2_list > li .depth3{display: none; padding:15px 5px;}
        .all-menu-depth .depth3 .depth3_list > li > a{color:#fff; font-size: 14px;}
        .all-menu-depth .depth3 .depth3_list > li > a > span::before{background-color: #fff;}
        /* active */
        .all-menu-depth > li.active .menu-depth1{position: relative; z-index: 9; color: #fff; background-color: #004298;}
        .all-menu-depth > li.active .menu-depth1::before{content:""; display: inline-block; width: 100%; height: 100%; background-color: #004298; border-radius: 10px 0 0 10px; position: absolute; left:-10px; top:0; z-index: -1;}
        .all-menu-depth > li.active .depth2_list{display: block;}
        .all-menu-depth .depth2_list > li.active .menu-depth2{background-image: url("../images/arrw09.png");}

        .all-menu-box .menu-close{width: 25px; height: 25px; position: absolute; right: 10px; top:25px; background:url("../images/all-menu-close.png") center center no-repeat; transform: rotate(0deg); transition: transform 0.8s ease-out;}
        .all-menu-box .menu-close:hover,.all-menu-box .menu-close:focus{ transform: rotate(180deg);}
}
