/* ***********************************
            main.css
* ***********************************/
.m-tit{font-size: 45px; font-weight: 700; margin-bottom: 40px;}
.m-tit .point{color:#014195;}

.m-inner{max-width: 1400px; padding:0 40px; margin:0 auto; position: relative;}
/* m-visual */
.m-visual{position: relative;}
.m-slide .swiper-slide{max-width: 1320px; width: 100%; background-position: center top; background-repeat: no-repeat; background-image: url("../images/banner01.png"); }
.m-slide .bg01{background-image: url("../images/banner01.png");}
.m-slide .bg02{background-image: url("../images/banner02.png");}
.m-slide .bg03{background-image: url("../images/banner03.png");}

.m-slide .swiper-slide .txt-wrap{height: 546px; color:#fff; display: flex; align-items:  center; justify-content: center; flex-direction: column; font-size: 20px; line-height: 1.5; text-align: center; opacity: 0; transition: opacity 1.5s;}
.m-slide .swiper-slide .txt-wrap .txt2{font-family: 'Britannic-Bold'; font-weight: 700; font-size: 100px; }
.m-slide .swiper-slide.on .txt-wrap{opacity: 1;}
.m-visual .m-slide-arrw{width: 33px; height: 59px; background-repeat: no-repeat; position: absolute; top:50%; transform: translateY(-50%); z-index: 9;}
.m-visual .m-slide-arrw.mvSlide_prev{background-image: url("../images/slide-arrwP01.png");left: calc(50% - 630px);}
.m-visual .m-slide-arrw.mvSlide_next{background-image: url("../images/slide-arrwN01.png"); right: calc(50% - 630px);}

/* -- m-visual */
/* m-guide */
.m-guide{padding:70px 0;}
.m-guide .tit-box{display: flex; justify-content: space-between;}
.m-guide .link-btn-wrap{display: flex; gap: 5px;}
.m-guide .link-btn-wrap .link-btn{height: 50px; border:1px solid #E1E1E1; border-radius: 40px; padding:0 20px; display: flex; align-items: center; background-color: #fff; transition: 0.3s;font-size: 15px;}
.m-guide .link-btn-wrap .link-btn:hover,.m-guide .link-btn-wrap .link-btn:focus{border-color: #014195;}
.m-guide .link-btn-wrap .link-btn > span{position: relative; display: inline-block; padding-right: 30px;}
.m-guide .link-btn-wrap .link-icn > span::after{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background: url("../images/link-icn.png") no-repeat;
    margin-left: 20px;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}
.m-guide .link-btn-wrap .link-arw > span::after{
    content: "";
    display: inline-block;
    width: 6px;
    height: 10px;
    background: url("../images/arrw05.png") no-repeat;
    margin-left: 20px;
    position: absolute;
    right:0;
    top:50%;
    transform: translateY(-50%);
}
.m-guide .m-cont{display: flex; gap: 55px;}
.m-guide .left-box {width: 46%; display: flex; gap: 17px; }
.m-guide .left-box > li{flex:1 1 45%;}
.m-guide .left-box a{display: block; width: 100%; border:1px solid #E2E2E2; border-radius: 10px; overflow: hidden;}
.m-guide .left-box .img-box{width: 100%; padding-top: 78.478%; position: relative;}
.m-guide .left-box .img-box > img{width: 100%; height: 100%; position: absolute; left:0; top:0;}
.m-guide .left-box .txt-box{height: 115px; display: flex; align-items: flex-end; padding:10px 30px 25px; font-size: var(--fz-18); font-weight: 500;}
.m-guide .left-box .txt-box .arw-bg{ display: block; width: 100%; border-bottom:2px solid #333;padding-bottom: 10px; padding-right: 20px; position: relative; word-break: keep-all;}
.m-guide .left-box .txt-box .arw-bg:after{
    content:"";
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url("../images/arrw03.png") no-repeat;
    position: absolute;
    right:0;
    bottom:15px;
}
.m-guide .right-box{ width: calc(54% - 55px); position: relative;}
.guide-slide{width: 100%; }
.guide-slide ul{display: flex; flex-wrap: wrap; gap: 16px;}
.guide-slide li{width: calc(100% / 4 - 13px);  min-height: 160px;}
.guide-slide li a{display: block; width: 100%; height: 100%; background-color: #F8F8F8; border:1px solid #E1E1E1; border-radius: 10px; overflow: hidden; text-align: center; padding:34px 0 10px; transition: 0.3s;}
.guide-slide li a:hover,.guide-slide li a:focus{background-color: #fff; border-color: #014195; }
.guide-slide li .txt{padding-top: 62px; background-position: center top; background-repeat: no-repeat; background-image: url("../images/m-icn01.png"); min-width: 48px;  overflow: hidden; text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size: 15px;}
/* 한글 */
.guide-slide li.li02 .txt{background-image: url("../images/m-icn02.png");}
.guide-slide li.li03 .txt{background-image: url("../images/m-icn03.png");}
.guide-slide li.li04 .txt{background-image: url("../images/m-icn04.png");}
.guide-slide li.li05 .txt{background-image: url("../images/m-icn05.png");}
.guide-slide li.li06 .txt{background-image: url("../images/m-icn06.png");}
/* 영어 */
.guide-slide li.li07 .txt{background-image: url("../images/m-icn07.png");}
.guide-slide li.li08 .txt{background-image: url("../images/m-icn08.png");}
.guide-slide li.li09 .txt{background-image: url("../images/m-icn09.png");}
.guide-slide li.li10 .txt{background-image: url("../images/m-icn10.png");}
.guide-slide li.li11 .txt{background-image: url("../images/m-icn11.png");}
.guide-slide li.li12 .txt{background-image: url("../images/m-icn12.png");}
.guide-slide li.li13 .txt{background-image: url("../images/m-icn13.png");}
.guide-slide li.li14 .txt{background-image: url("../images/m-icn14.png");}
.guide-slide li.li15 .txt{background-image: url("../images/m-icn15.png");}

.g-slide-arrw {width: 50px; height: 50px; border-radius: 50%; box-shadow: 0 0 16px rgba(205, 205, 205,0.45); position: absolute; top:46%; transform: translateY(-50%); z-index: 99; background-color: #fff; background-position: center center; background-repeat: no-repeat;}
.g-slide-arrw.guideSlide_prev{left:-25px; background-image: url("../images/slide-arrwP03.png");}
.g-slide-arrw.guideSlide_next{right:-25px; background-image: url("../images/slide-arrwN03.png");}
.g-slide-arrw.swiper-button-disabled{background-blend-mode: difference;}
.g-slide-arrw.swiper-button-lock{display: none;}
/* -- m-guide */
/* m-notice */
.m-notice{background-color: #342D2D; padding:46px 0;}
.m-notice .m-cont{background-color: #fff; border-top:4px solid #2467BF;}
.m-notice .m-cont > ul{display: flex; padding:45px 0;}
.m-notice .m-cont > ul > li{padding:0 30px; width: calc(100% / 4);border-right:1px solid #D0D0D0; overflow: hidden;}
.m-notice .m-cont > ul > li:last-child{border-right: 0;}
.m-notice .m-cont li .noti-tit{display: block; font-size: 19px; font-weight: 500;overflow: hidden;text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; margin:5px 1px 28px;}
.m-notice .m-cont li .noti-date{font-size: 14px; font-weight: 300; color:#878787}
.m-notice .m-cont li .noti-desc{font-size: 15px; font-weight: 300;overflow: hidden; text-overflow: ellipsis;display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; margin:22px 0;; color:#5d5d5d}
.m-notice .more-btn{display: inline-block; width: 50px; height: 50px; border-radius: 50%; background: #656565 url("../images/more-icn01.png") center center no-repeat; position: absolute; right:40px; top:0;}
.m-notice .m-cont li:hover .noti-tit,.m-notice .m-cont li .noti-tit:focus{text-decoration: underline;}
.m-notice .more-btn:hover,.m-notice .more-btn:focus{    transition: all .3s; transform: rotate(90deg);}
/* -- m-notice */
/* m-visitors */
.m-visitors{padding:45px 0 70px;}
.m-visitors .m-tit{padding-top: 24px;}
.visit-slide .swiper-slide{position: relative; height: 300px;}
.visit-slide .img-box{width: 45%; padding-top: 39.685%; position: relative; overflow: hidden; z-index: 9;}
.visit-slide .img-box > img{position: absolute; left:0; top:0; width: 100%; height: 100%;}
.visit-slide .txt-box{width: 55%; background-color: #fff; position: absolute;right:10px; top:30px; box-shadow: 0 0 12px rgba(89, 89, 89,0.2); padding:30px 34px 30px 0; z-index: 8;}
.visit-slide .txt-box .label{border-bottom:1px solid #014195; text-align: right;padding-bottom: 20px;}
.visit-slide .txt-box .label > span{ display: inline-block; padding:5px 15px; background-color: #014195; color:#fff; font-weight: 500; border-radius: 20px;}
.visit-slide .txt-box .visit-tit{display: block; margin:28px 0 48px;font-size: 19px; font-weight: 500; padding-left: 34px;}
.visit-slide .txt-box .visit-date{display: block; font-size: 14px; font-weight: 300; color:#878787; text-align: right;}
.visit-slide-arrw{position: absolute; right:40px; top:0; width: 166px;height: 82px; border:1px solid #5F5F5F; overflow: hidden;}
.visit-slide-arrw > button{width: 50%; height: 100%; background-position: center center; background-repeat: no-repeat; float:left;}

.visit-slide-arrw > .visitSlide_prev{background-image: url("../images/slide-arrwP02.png"); border-right:1px solid #5F5F5F}
.visit-slide-arrw > .visitSlide_next{background-image: url("../images/slide-arrwN02.png");}

/* --m-visitors */
/* m-global */
.m-global{background: url("../images/f-ban-bg.png") no-repeat;}
.m-global .global-tit{padding:46px 0 50px;  display: flex; align-items: center;}
.m-global .global-tit > .tit{ font-size: 38px; font-weight: 700; color:#fff; padding-right: 20px; padding-left: 55px; background: url("../images/f-ban-icn.png") left center no-repeat; background-size: auto 100%;}
.m-global .global-tit > a{display: inline-block; width: 133px; height: 42px; padding:0 20px; display: flex; align-items: center; background-color: #2467BF; color:#fff; font-size: 17px; font-weight: 500; background-image: url("../images/arrw04.png");background-position: right 15px center; background-repeat: no-repeat; border-radius: 40px; margin-top: 10px;}
/* -- m-global */

/* respon */
@media (max-width: 1400px) {
    /* m-visual */
    .m-slide .swiper-slide .txt-wrap .txt2{font-size: 80px;}
    .m-visual .m-slide-arrw.mvSlide_prev {left:20px;}
    .m-visual .m-slide-arrw.mvSlide_next {right:20px;}

    /* -- m-visual */

}
@media (max-width: 1250px){
    .m-guide .m-cont{gap: 40px;}
    .m-guide .left-box{width: 50%;}
    .m-guide .right-box {width: calc(50% - 40px);}
    .guide-slide li{ height: 12vw; min-height: 138px; font-size: 0.9em;}
    .guide-slide li a{padding: 26px 10px 10px;}
    .guide-slide li a .txt{padding-top: 54px;}
}
@media (max-width: 1024px) {
    /* m-guide */
    .m-guide .m-cont {flex-direction: column;}
    .m-guide .left-box {width: 100%;}
    .m-guide .right-box {width: 100%;}
    /* -- m-guide */
    /* m-visitors */
    .visit-slide .swiper-slide{height: auto; border:1px solid #D0D0D0}

    .visit-slide .img-box {width: 100%; padding-top: 60%;}
    .visit-slide .txt-box {width: 100%; position: static; box-shadow: none;}
    .visit-slide-arrw{position:static; margin:20px auto 0;width: 120px; height: 60px;     background-size: 40%;}

    /* -- m-visitors */

}
@media (max-width: 960px) {
    .m-tit{font-size: 38px;}
    /* m-visual */
    .m-slide .swiper-slide .txt-wrap{font-size: 16px;}
    .m-slide .swiper-slide .txt-wrap .txt2{font-size: 55px;}
    /* -- m-visual */
    /* m-notice */
    .m-notice .m-cont > ul{flex-direction: column; padding:0;}
    .m-notice .m-cont > ul > li{width: 100%; border-right: 0; border-bottom: 1px solid #D0D0D0; padding:10px 20px;}
    .m-notice .m-cont > ul > li:last-child{border-bottom:0;}
    .m-notice .m-cont li .noti-tit{margin:0; margin-bottom: 10px;}
    .m-notice .m-cont li .noti-desc{display: none;}
    /* -- m-notice */

}
@media (max-width: 670px) {
    .m-inner{padding:0 20px}

    /* m-visual */
    .m-slide .swiper-slide{background-size: auto 100%;}
    .m-slide .swiper-slide .txt-wrap {height: 440px;}
    .m-slide .swiper-slide .txt-wrap .txt2{font-size: 38px; margin-top: 20px;}

     /* m-guide */
    .m-guide .tit-box{flex-direction: column;}
    .m-guide .link-btn-wrap{margin-bottom: 20px; justify-content: flex-end;}
    .m-guide .left-box .txt-box{padding: 35px 20px 25px;}
    .g-slide-arrw{width: 40px; height: 40px; }
    .g-slide-arrw.guideSlide_prev{left: 0px;}
    .g-slide-arrw.guideSlide_next{right: 0px;}

     /* -- m-guide */
     /* m-global */
     .m-global .global-tit > .tit{font-size: 28px; padding-left: 40px;}
     /* -- m-global */

}
@media (max-width: 480px) {
    .m-tit{font-size: 30px;}
    /* m-visual */
    .m-slide .swiper-slide .txt-wrap{font-size: 14px; height: 320px;}
    .m-guide .link-btn-wrap .link-btn{height: 40px;font-size: 14px;}
    .m-slide .swiper-slide .txt-wrap .txt2{font-size: 38px; }
    .m-visual .m-slide-arrw{background-size: 100% auto;width: 18px; height: 38px;}
    /* -- m-visual */
    /* m-guide */
    .m-guide .link-btn-wrap{flex-wrap: wrap; justify-content: flex-start;}
    .m-guide .left-box{flex-direction: column;}
    .m-guide .left-box a{display: flex;}
    .m-guide .left-box .img-box{width: 42%; padding-top: 45%;}
    .m-guide .left-box .txt-box{width: 58%; display: flex; align-items: flex-end}
    .m-guide .left-box .txt-box .arw-bg {width: 100%;}
    .guide-slide ul{gap: 10px;}
    .guide-slide li {width: calc(100% / 3 - 7px);}
    /* -- m-guide */
    /* m-notice */
    .m-notice .m-cont li .noti-tit{font-size: 16px;}
    /* -- m-notice */
    /* m-visitors */
    .visit-slide .txt-box .visit-tit{font-size: 16px;}
    /* -- m-visitors */
    /* m-global */
    .m-global .global-tit {flex-direction: column;}
    /* -- m-global */
}
@media (max-width: 380px) {
    .guide-slide li {width: calc(100% / 2 - 5px);}
}
/* -- respon */