@charset "utf-8";
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*iOS와 IE에서 기기 회전시에 사용자가 확대하지 않아도 글씨 크기가 재조정되는 것을 예방.*/
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, select {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption{position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px;}
a {
    text-decoration: none;
    color: inherit;
}
img {
    vertical-align: top;
    border: 0;
    max-width: 100%;
}
strong {
	font-weight: bold;
}

b {
    font-weight: bold;
}

button {
    cursor: pointer;
    border: 0;
    background-color: transparent;
    overflow: visible; /** * IE 8/9/10/11에서 `overflow` 속성값이 `hidden`으로 설정되어 있는 것을 수정 */
}

/** * `button`과 `select` 요소에 `text-transform` 상속이 일치하지 않는 것을 해결 */
button,
select {
    text-transform: none;
}

/** 
    * 1. Android 4.0.*에서 `audio`와 `video` 컨트롤을 파괴하는 웹킷 버그를 방지. 
    * 2. iOS에서 클릭가능한 `input` 유형에 스타일링을 할 수 없는 것을 수정.
    * 3. `input` 요소와 다른 요소들의 image-type의 커서 모양을 일치시켜 가용성을 향상. * `input` and others. 
**/
input[type="button"],
input[type="reset"],
input[type="submit"] {
    cursor: pointer;
    /* 3 */
}

/** * disabled된 요소의 기본 커서를 재설정 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/** * Firefox 4+에서 내부 `padding`과 `border`를 제거 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/** * Firefox 4+에서 UA(User Agent) 스타일시트에 `!important`를 사용한 `input` 요소의 * `line-height` 설정값을 해결. */
input {
    line-height: normal;
}

/**
 * 1. IE 8/9/10에서 box sizing 속성값을 `content-box`에서 `border-box`로 변경 
 * 2. IE 8/9/10에서 영역을 벗어나지 않도록 `padding`을 제거 
**/
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
    /* textarea */
    resize: none;
}
