/* 20250319 */
/* ***********************************
        sub-tit-wrap /SNB
* ***********************************/
.wid {width: 96%;max-width: 1280px; margin: 0 auto;}
.sub-tit-wrap{width: 100%; height: 228px; background-image: url("../images/sub_ban01.png"); display: flex; align-items: center; justify-content: center; background-position: center center;background-size: 100% 100%; background-repeat: no-repeat; }
.pg-tit{ font-size:var(--fz-45); color: #fff; font-weight: 700; text-align: center;}
.pg-tit > span{color: #2241b6; word-break: keep-all;}


#snb-wrap{background-color:#fff;border-bottom:1px solid #F0F0F0;}
.line-map{ display: flex; position: relative; width: 100%;}
.line-map > li {position: relative;font-size: 17px; z-index: 9999; display: flex; max-width: 30%;}
.line-map > li:not(.home){min-width: 220px;}
.line-map > li > a{width: 100%; height: 58px; position: relative; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis; line-height: 1.5; overflow: hidden; padding:17px 15px; }
.line-map > li.home >a{width: 58px; background-color:#2241b6; text-align: center; }

.line-map > li:not(.home) > a{ padding: 17px 40px 17px 20px;background: url('../images/sub_nav_bg1.png') no-repeat right 10px  center; border-right:1px solid #F0F0F0; overflow: hidden;}
.line-map > li > a.on{background: url('../images/sub_nav_bg2.png') no-repeat right 10px  center;}
.line-map > li > a.nl{padding: 0 20px; background: none;}
.line-map > li > ul{display: none; width: 100%; position: absolute; top: 100%; left: 0px; right: 0; background: #fff; border: 1px solid #f5f5f5; box-shadow: 2px 6px 6px rgba(95, 95, 95, 0.2);}
.line-map > li > ul > li > a{display: block;color: #666; padding:15px;}
.line-map > li > ul > li > a:hover,.line-map > li > ul > li > a:focus{color: #1969b2;  background-color: #ECF8FE;}


.subWrap.snbFix #snb-wrap {width: 100%; position: fixed; left:0; top:0; z-index: 9999;}
.content-area {padding:45px 0 90px; min-height: 600px;}
.con-prepar{padding: 60px 0; text-align: center;}


@media (max-width: 760px) {
    .line-map > li{font-size: 16px;}
    .line-map > li.home >a{width: 40px; padding:17px 0;}
    .line-map > li:not(.home){width: calc(100% - 40px / 3); min-width: inherit;}
    .line-map > li:not(.home) >a{padding: 17px 30px 17px 10px;}
    .line-map > li > ul > li > a{padding: 15px 10px;}
}
@media (max-width: 480px) {
    .sub-tit-wrap{height: 150px; background-size: auto 100%;}
    .line-map > li{font-size: 14px;}
    .line-map > li > a {height: 48px;}
    .line-map > li > ul{font-size: 13px;}
    .line-map > li.home >a{padding: 14px 0;}
    .line-map > li:not(.home) >a{padding: 13px 20px 13px 10px;}
}
@media (max-width: 380px) {
    .line-map > li{font-size: 13px;}
}

/* 공통 */
/* ver-bar */
.ver-bar > li > span{display: inline-block; position: relative;}
.ver-bar > li > span:nth-child(1){padding-right: 10px;}
.ver-bar > li > span:nth-child(2){padding-left: 10px;}
.ver-bar > li > span:nth-child(1)::after{
    content:"";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #797979;
    position: absolute;
    right:-2px;
    top:7px;
}
/* -- ver-bar */
/* dot */
.dotList00{padding-left: 6px; margin-bottom: 20px; color:#333;}
.dotList00 > li {padding-left: 14px; position: relative;}
.dotList00 > li::before {
    content:"";
    display: inline-block;
    width: 6px;
    height: 2px;
    background-color: #333;
    position: absolute;
    left:0;
    top:9px;
}

.dotList01{margin-bottom: 40px;}
.dotList01 > li{position: relative; padding-left: 10px; color:#5d5d5d; margin-top: 14px;}
.dotList01 > li::before{
    content:"";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #A9A9A9;
    border-radius: 50%;
    position: absolute;
    left:0;
    top:8px;
}
.dotList01 > li > .desc{padding-left: 10px; font-size: 15px;}


.dotList02{padding-left: 10px;}
.dotList02 > li {padding-left: 13px;}
.dotList02 > li {
    background: url(../images/blt_01.png) 0 10px no-repeat;
    padding-left:10px;
}

.dotList02 > li+li{margin-top: 5px;}

.dotList03{padding-left: 10px; margin-bottom: 10px;}
.dotList03 > li {padding-left: 12px; position: relative;}
.dotList03 > li::before {
    content:"";
    display: inline-block;
    width: 5px;
    height: 2px;
    background-color: #828282;
    position: absolute;
    left:0;
    top:10px;
}

.dotList03 > li+li{margin-top: 5px;}
/* -- dot */
/* num-list */
.numList01 > li{margin-bottom: 40px;}
.numList01 > li > .tit{font-size: var(--fz-22); color:#333; font-weight: 600; display: flex; gap: 10px; align-items: center; margin-bottom: 20px;}
.numList01 > li > .tit > .numD{display: inline-block; width: 37px; height: 37px; background-color: #FFF9A3; font-size: var(--fz-24); font-weight: 800; color:#1397b5; border-radius: 50%; display: flex; align-items: center; justify-content: center;} 
/* -- num-list */
/* 타이틀 */
.sub-tit{
    color: #333;
    font-size: var(--fz-22);
    background: url('../images/h4.png') 0 2px no-repeat;
    text-indent: 26px;
    margin: 30px 0 30px;
    line-height: 28px;
    font-weight: 600;
}
.sub-tit2{
    color: #1799B6;
    font-size: var(--fz-18);
    font-weight: 600;
    margin-bottom: 20px;
}
.conts-tit{font-size:var(--fz-45); font-weight: 700; color:#014195; text-align: center; margin-top: 90px;}
.conts-tit > span{color:#333;}
.conts-tit2{font-size:var(--fz-38); font-weight: 700; color:#014195; margin-bottom: 40px;}
.conts-tit2 > span{font-size: var(--fz-24); font-weight: 300;}
.conts-tit-desc{font-size:20px; font-weight: 300; text-align: center; margin-top: 10px;}

.desc{padding-left: 6px; margin-bottom: 50px; word-break: keep-all;}
.ind-box{padding-left: 26px; word-break: keep-all; color: #5d5d5d;}
.sub-txt{font-weight: 300; color: #5d5d5d; margin-top: 5px;}
.cout{font-size: 14px; text-indent: 25px; display: inline-block;}
.link-txt{ color:#2366bf}
.link-txt:hover,.link-txt:focus{text-decoration: underline;}
.point01{ color: #5d5d5d; font-size: var(--fz-15); margin-top: 5px;}
.point02{color:#EB521C; font-size: var(--fz-15); margin-top: 5px;}
.point03{color:#0e3174; font-size: var(--fz-15); margin-top: 5px;}
/* -- 타이틀 */
.txt-box{border-radius: 10px; background-color: #F9FBFD; padding:20px; border:1px solid #4F84CC; font-size: 14px; color:#5d5d5d; margin:20px 0;}
.txt-box > .tit{font-size: 14px; font-weight: 500; margin-bottom: 10px;}
.txt-box > .inner{padding-left: 10px;}
.flow-wrap {margin:20px 0 40px;}
.flow-wrap > ul >li{border:1px solid #b8b8b8; border-radius: 10px; padding:15px; background-color: #F5FDF4;  }
.flow-wrap > ul >li > p{display: flex; justify-content: space-between;}
.flow-wrap > ul >li + li{margin-top: 40px; position: relative}
.flow-wrap > ul >li + li::before{content:"↓"; display: inline-block; position: absolute; left:50%; top:-32px; transform: translateX(-50%);}

.flow-wrap > ul >li .emph{display: inline-block;     background: #f7e0df; border-radius: 5px; padding:0 10px;}
/* 버튼 */
.btn-wrap{margin-top: 30px;display: flex; gap: 10px; align-items: center; flex-wrap: wrap; }
.btn-wrap.btnC{justify-content: center;}
.btn-wrap.btnR{justify-content: right;}

.btn-wrap .btn{display: block; min-width: 160px; border-radius: 5px; font-size: var(--fz-16); padding:8px 20px;}
.btn-wrap .btn > span{display: inline-block;}
.btn-wrap .btn.arrwType{ color:#fff; font-weight: 500; background-color: #1397B5; min-width: 180px;}
.btn-wrap .btn.arrwType > span{background:url("../images/arrw04.png") right 5px center no-repeat; padding-right: 80px; transition:all 0.3s;}
.btn-wrap .btn.arrwType:hover,.btn-wrap > .btn.arrwType:focus{background-color: #1AB5D3; transition:all 0.3s;}
.btn-wrap .btn.arrwType:hover > span,.btn-wrap > .btn.arrwType:focus > span{background-position: right center; }

.btn-wrap .btn.dwType{ color:#fff; font-weight: 700; background-color: #1397B5; }
.btn-wrap .btn.dwType > span{display: inline-block; width: 100%; background:url("../images/file-dw.png") right 5px center no-repeat; padding-right: 80px;}
.btn-wrap .btn.dwType:hover,.btn-wrap > .btn.dwType:focus{background-color: #1AB5D3; transition:all 0.3s;}
/* 등록 */
.btn-wrap .btn.ty1{ background-color:#1397B5 ; color: #fff;  padding: 14px 20px;}
.btn-wrap .btn.ty1:hover,.btn-wrap .btn.ty1:focus{ background-color:#1AB5D3 ;}
/* 수정 */
.btn-wrap .btn.ty2{ background-color:#0E6D92 ; color: #fff;  padding: 14px 20px;}
.btn-wrap .btn.ty2:hover,.btn-wrap .btn.ty2:focus{ background-color: #147B99 ;}
/* 삭제 */
.btn-wrap .btn.ty3{ background-color:#D9534F ; color: #fff;  padding: 14px 20px;}
.btn-wrap .btn.ty3:hover,.btn-wrap .btn.ty3:focus{ background-color:#C9302C ;}

.btn-wrap .btnSm{display: block;  border-radius: 5px; font-size: var(--fz-16); padding:8px 20px; background-color: #2241B6; color:#fff;}
.btn-wrap .btnSm > span{display: inline-block;}
/* -- 버튼 */
/* tab */
.tab-area{width: 100%;}
.tab-area .tab > ul{display: flex; gap: 10px;}
.tab-area .tab > ul > li{flex: 1 1 0; text-align: center; }/*min-width 설정 필요*/
.tab-area .tab > ul > li button{width: 100%; height: 60px; display: flex; align-items: center; justify-content: center; background-color: #F2F2F2; border:1px solid #F2F2F2; border-radius: 5px; color:#969696; font-weight: 700;}
.tab-area .tab > ul > li.active button{background-color: #fff; border-color: #2241B6; color: #2241B6; }

.tab-conts-wrap{margin:40px 0 20px;}
.tab-conts-wrap .tab-conts{display: none;}
.tab-conts-wrap .tab-conts.active{display: block;}
/* -- tab */
/* select tab */
.select-tabList select{width: 100%; max-width: 200px; border:1px solid #e4e4e4; font-size: 18px; border-radius: 5px; padding:10px 10px; }
.select-tab-conts{margin:40px 0 20px;}
.select-tab-conts .sel-tab-conts{display: none;}
.select-tab-conts .sel-tab-conts.active{display: block;}

/* -- select tab */
/* table */
.table-wrap{ margin:20px 0px 30px; overflow: hidden;}
table.type01,table.type02{width: 100%; border-top:2px solid #4F84CC; text-align: center; position: relative;}
table.type01 thead,table.type02 thead{border-bottom:2px solid #4F84CC; background-color: #fff;}
table.type01 th,table.type01 td,
table.type02 th,table.type02 td{padding:14px 10px; vertical-align: middle; font-size: 15px; font-weight: 400;}
table.type01 td,table.type02 td{border-right:1px solid #DFE5EA; border-left:1px solid #DFE5EA; border-bottom:1px solid #DFE5EA; color:#717171 }
table.type01 td:last-child,table.type02 td:last-child{border-right:0}
table.type01 td:nth-child(1){border-left:0; background-color: #F9FBFD; color:#333;}
table.type02 td:nth-child(1){border-left:0;}
table.type02 tr.al >td{padding:10px 20px; text-align: left; vertical-align: baseline;}
.table-wrap .pointTxt{ color:#5B748A; font-size: 14px;}
.table-wrap .link-txt{padding-right: 30px; background: url("../images/link-icn.png") right bottom no-repeat;}
/* table popup */
.table-wrap .layerPop.txtLayer{width: 100%; max-width:600px; position: absolute; left:50%; transform: translateX(-50%); top:30px;  z-index: 1; background-color: #fff; border: 1px solid #ccc; border-radius: 16px; padding:60px 10px 20px;text-align: left; overflow: hidden; box-shadow: 2px 2px 10px rgba(78, 78, 78, 0.2);}
.table-wrap .layerPop.txtLayer .head{width: 100%; height: 40px; background-color: #27518F; position: absolute; left: 0; top:0; display: flex; justify-content: flex-end; align-items: center;}
.table-wrap .layerPop.txtLayer .close { width: 11px; height: 10px; margin-right: 20px; }

/* 검색 */
.pageSearch-wrap{margin-bottom: 40px;}
.pageSearch-wrap > ul > li{display: flex;}
.pageSearch-wrap > ul > li + li{margin-top: 10px;}
.pageSearch-wrap > ul > li > div{ display: flex; align-items: center;}
.pageSearch-wrap > ul > li  input,.pageSearch-wrap > ul > li  select{height: 46px; background-color: #fff; border:0;padding:0 40px 0 10px; min-width: 120px; border-radius: 10px; border:1px solid #ccc;}

.pageSearch-wrap .date-box{display: flex; gap: 10px; flex-wrap: wrap;}
.pageSearch-wrap .date-box input{  background-image: url("../images/picker_ico.png"); background-position:right 10px center; background-repeat:no-repeat;}
.pageSearch-wrap .search-box{display: flex; gap: 10px; width: 100%; }
.pageSearch-wrap .search-box .serch-input{width: 80%; height: 46px; display: flex; align-items: center; border-radius: 10px; border:1px solid #ccc; max-width: 580px; overflow: hidden;}
.pageSearch-wrap .search-box .serch-input input{width: calc(100% - 60px); height: 100%; border:0;}
.pageSearch-wrap .search-box .serch-input .sear-btn{width: 40px; height: 100%; background-image: url("../images/search-icn2.png"); background-repeat: no-repeat; background-position: center center;}
/* -- 검색 */

/* 공지사항 */
.brd-lstp1{border-top: 1px solid #333; border-bottom: 1px solid #333;}
.brd-lstp1 > li{padding: 20px 2%;}
.brd-lstp1 > li + li{border-top: 1px solid #e0dfdf;}
.brd-lstp1 > li > div{display: flex; box-sizing: border-box; width: 100%;  table-layout: fixed; word-break: break-all;}
.brd-lstp1 > li > div:has(.imgs){align-items: center;}
.brd-lstp1 > li > div > p{width: 80px; text-align: center; font-size: 18px; color: #888; line-height: 24px;}/*20220118 웹접근성 color:#999*/
.brd-lstp1 > li > div > p .cl{display: inline-block; vertical-align: top; width: 62px; text-align: center; background: #718be9; color: #fff; font-size: 15px; line-height: 20px; padding: 3px 0;}
.brd-lstp1 > li > div > .imgs{width: 180px; aspect-ratio:1.5; margin:0 10px; border-radius: 10px; overflow: hidden; position: relative;}
.brd-lstp1 > li > div > .imgs > img{width: 100%;  position: absolute; left:50%; top:0; transform: translateX(-50%);}
.brd-lstp1 > li > div > div{width: calc(100% - 80px); vertical-align: top; padding-left: 10px;}
.brd-lstp1 > li > div:has(.imgs) > div{width: calc(100% - 200px); }
.brd-lstp1 > li > div > div:only-child{padding-left: 0;}

.brd-lstp1 .ti{width: 100%; font-size: var(--fz-18); color: #333; line-height: 24px; font-weight: 600;}
.brd-lstp1 .ti >a{width: 100%;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.brd-lstp1 .ti img{margin-top: 7px; margin-right: 4px;}
.brd-lstp1 .da{line-height: 1.2; margin-top: 10px;}
.brd-lstp1 .da >p{display: inline-block; vertical-align: middle; font-size: 16px; color: #666; line-height: 20px; margin-right: 2px;}
.brd-lstp1 .da > p:after{content: ''; display: inline-block; vertical-align: top; width: 1px; height: 12px; background: #cfcfcf; margin-top: 4px; margin-left: 4px;}
.brd-lstp1 .da >p:last-child:after{display: none;}
.brd-lstp1 .da img{vertical-align: middle;}
.brd-lstp1 .da .dw{display: inline-block; margin: 2px 0;}
/* -- 공지사항 */
/* 공지사항 상세 */
.view-wrap .vw-tii-bx{padding: 20px 20px ; border-top: 1px solid #333;  border-bottom: 1px solid #e0dfdf;}
.view-wrap .vw-tii-bx > .tit{font-size: 24px; margin-bottom: 10px; font-weight: 600;}
.view-wrap .vw-tii-bx .da{line-height: 1.2; margin-top: 8px;}
.view-wrap .vw-tii-bx .da > p{display: inline-block; vertical-align: middle; font-size: 15px; color: #666; line-height: 20px; margin-right: 6px;}
.view-wrap .vw-tii-bx .da > p:after{content: ''; display: inline-block; vertical-align: top; width: 1px; height: 12px; background: #cfcfcf; margin-top: 4px; margin-left: 10px;}
.view-wrap .vw-tii-bx .da > p:last-child:after{display: none;}
.view-wrap .vw-file-list{margin-top: 20px; display: flex; font-size: 14px;}
.view-wrap .vw-file-list > .tit{width: 70px;}
.view-wrap .vw-file-list > .fl-dw{width: calc(100% - 70px);}
.view-wrap .vw-file-list > .fl-dw > li + li{margin-top: 5px;}
.view-wrap .vw-con-bx{min-height: 300px; padding:40px 20px; border-bottom:1px solid #333;}

.article-wrap{border-top: 1px solid #e0dfdf; border-bottom: 1px solid #e0dfdf; margin-top: 40px;}
.article-wrap > li{padding:20px 0;}
.article-wrap > li + li{border-top:1px dashed #e0dfe0}
.article-wrap > li >div{float:left;}
.article-wrap > li >div:nth-child(1){width: 120px; text-align: center;}
.article-wrap > li a:hover,.article-wrap > li a:focus{text-decoration: underline; text-underline-offset: 3px;}
.article-wrap > li::after{content: "";display: block;height: 0;clear: both;visibility: hidden;}
/* -- 공지사항 상세 */
/* 해외체험수기 등록 */
.respon-form{border-top:2px solid #2366BF;}
.respon-form > li {display: flex; border-bottom: 1px solid #E0E6EB;}
.respon-form .form-label {width: 25%; min-height: 60px; padding: 10px; background-color: #F9FBFD; text-align: center; align-content: center; font-size: 16px;}
.respon-form .form-label .essen {display: inline-block; margin-right: 3px; color: #ED2424; vertical-align: super; font-style: normal;}
.respon-form .form-label .label-txt {display: block; font-weight: 500;}
.respon-form .form-label .label-desc {display: block; margin-top: 3px; font-size: 1.4rem;}
.respon-form .form-field {width: 75%; padding: 10px 20px; align-content: center; background-color: #fff;}
.respon-form .form-field .w100{width: 100%;}

.respon-form input[type="text"],
.respon-form input[type="password"],
.respon-form input[type="number"]{width: 100%; height: 44px; padding: 0 15px; background-color: #fff; border: 1px solid #AFC2D8; border-radius: 6px; box-sizing: border-box; font-size: var(--fz-15);}
.respon-form input[type="number"]::-webkit-outer-spin-button,
.respon-form input[type="number"]::-webkit-inner-spin-button{ -webkit-appearance: none; margin: 0;}
.respon-form select{height: 44px; padding: 0 15px; background-color: #fff; border: 1px solid #AFC2D8; border-radius: 6px; box-sizing: border-box; font-size: var(--fz-15);}
.respon-form textarea{width: 100%; min-height: 200px;  border: 1px solid #AFC2D8; border-radius: 10px;    resize: none; font-size: var(--fz-15); }

/* 첨부파일 */
.upload-file{ display: flex; gap: 20px; align-items: center;}
.upload-file .upload-btn {position: relative; width: 100px; height: 34px; font-size: 15px; background-color: #2366BF; color:#fff; display: flex; align-items: center; justify-content: center; border-radius: 4px; cursor: pointer;}
.upload-file .upload-btn input{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    z-index: -1;
    left:0;
    top:0;
}
.upload-btn:has(input[type="file"]:focus){outline:2px dashed #0e0852;}
.upload-file .upload-inst {width: calc(100% - 120px); font-size: var(--fz-15); color: #555;}
.upload-file .upload-inst > strong{font-weight: 400; color: #ED2424;}

.upload-container .file-list {
    border: 1px solid #AFC2D8;
    padding: 5px 15px;
    margin-top: 10px;
    border-radius: 6px;
    min-height: 200px;
}

.upload-container .file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px dashed #CACBCB;
    color:#2366bf;
    font-size: var(--fz-15);
}
.upload-container .file-item > span{display: inline-block; position: relative; padding-left: 30px;}
.upload-container .file-item > span::before{display: inline-block;width: 20px; height: 19px; background: url("../images/icon_file.png") left top no-repeat; position: absolute; left:0; top:0px; content: "";}

.upload-container .file-item:last-child {
    border-bottom: none;
}

.upload-container .remove-btn {
    width: 12px;
    height: 12px;
    background: url("../images/icon_close.png") no-repeat;
    cursor: pointer;
    padding:0;
}
/* // 해외체험수기 등록 */

/* pageing */
.paging{text-align: center; margin-top: 40px;}
.paging > a{display: inline-block; vertical-align: middle; box-sizing: border-box; font-size: 15px; color: #888; line-height: 20px;  padding: 0 5px 2px;  margin: 2px 0;}
.paging > span{display: inline-block; vertical-align: middle; margin: 0 10px; }
.paging > span > a{display: inline-block; vertical-align: top; border: 1px solid #3e64ef; border-radius:5px; color: #3e64ef; padding:4px 10px; min-width:22px; margin-right: 7px;}
.paging > span > a:last-child{margin-right:0;}
.paging > span > a.on{ background:#3e64ef; color:#fff; font-weight: 500;}
.paging a img{padding: 4px; margin-top: 1px;}
/* -- pageing */

.tag-wrap{ text-align: center; padding:20px 40px; background-color: #e0ecfa; margin: 40px 0; border-radius: 16px;}
.tag-wrap .tit{font-size: var(--fz-22); margin-bottom: 20px;}
.tag-wrap .tab-list{display: flex; gap: 30px; justify-content: center; flex-wrap: wrap;}
.tag-wrap .tab-list a:hover,.tag-wrap .tab-list:focus{color:#2241B6}

/* faq accordion */
.accordion-wrap .accordion-tit-list{border-top:1px solid #2366BF; border-bottom:1px solid #2366BF; background-color: #F9FBFD;}

.accordion-wrap .tit-list{display: flex;}
.accordion-wrap .tit-list > li{text-align: center; padding:16px 10px;}
.accordion-wrap .tit-list > li:nth-child(1){width: 10%;}
.accordion-wrap .tit-list > li:nth-child(2){width: 20%;}
.accordion-wrap .tit-list > li:nth-child(3){width: 70%;}

.accordion-tit-list > .tit-list > li:not(:last-child){position: relative;}
.accordion-tit-list > .tit-list > li:not(:last-child):after{display: inline-block; width: 1px; height: 10px; background-color: #2366BF; position: absolute; top:0; right: 0; content:""}

.accordion-header{border-bottom:1px solid #E6EBEE;}
.accordion-header > .tit-list{background-color: #fff;}
.accordion-header > .tit-list > li{padding:20px 10px;}
.accordion-header > .tit-list > li:not(:last-child){color: #717171;}
.accordion-header > .tit-list > li > .btn-accordion{width: 100%; text-align: left; padding-left: 38px; position: relative;}
.accordion-header > .tit-list > li > .btn-accordion > span{display: inline-block; width: calc(100% - 30px);}
.accordion-header > .tit-list > li > .btn-accordion:after{
    content:"";
    display: inline-block;
    width: 18px;
    height: 9px;
    position: absolute;
    right:10px;
    top:8px;
    background: url("../images/arrw07.png") no-repeat;
    transform: rotate(0);
    transition: transform 0.6s ease-in-out;
}

.accordion-body{max-height: 0; background-color: #FFFFF7; color:#5d5d5d; border-bottom:1px solid #E6EBEE; overflow: hidden;transition: max-height 0.6s ease-in-out;}
.accordion-body > .accordion-txt-box{padding:30px 50px 30px 95px; }
.accordion-body > .accordion-txt-box > .txt{position: relative; padding-top: 5px;}
.accordion-body > .accordion-txt-box > .txt::before{content:""; display: inline-block; width: 30px; height: 28px; background: url("../images/icon_a2.png") left top no-repeat; position: absolute; left:-45px; top:0;}
.accordion-body > .accordion-txt-box .file-list{margin:40px 0;}
.accordion-body > .accordion-txt-box .file-list > li + li{margin-top: 10px;}
.accordion-body > .accordion-txt-box .file-item{ position: relative; padding-left: 30px; color: #2366bf;font-size: var(--fz-15);}
.accordion-body > .accordion-txt-box .file-item::before{display: inline-block;width: 20px; height: 19px; background: url("../images/icon_file.png") left top no-repeat; position: absolute; left:0; top:0px; content: "";}

/* active*/
.accordion-header > .tit-list > li > .btn-accordion.active:after{transform: rotate(180deg); }
.accordion-body.active{max-height: 100vh;}
/* -- faq accordion */
/* -- 공통  */


/* 인사말 */
.greeting_box{display: flex; gap: 20px;}
.greeting_box .img_bx{min-width: 190px;}
.greeting_box .img_bx .tit{background: #e6e6e6; padding:10px 0; text-align: center; font-weight: 700;}
/* -- 인사말 */
/* 조직도 */
.organ_box{max-width: 1026px; margin:0 auto;}
.organ_box li p{max-width: 235px; height: 70px; display: flex; align-items: center; justify-content: center; font-weight: 500; font-size: 20px; background-color: #1F4675; color: #fff; border-radius: 6px; position: relative; z-index: 9; text-align: center;}

.organ_box .organ1 > li > p{margin-left: 240px; margin-bottom: 35px;}
.organ_box .organ2 {position: relative; z-index: 9;}
.organ_box .organ2 > li > p{margin-left: 240px; margin-bottom: 60px;}

.organ_box .organ3{display: flex; gap: 60px;}
.organ_box .organ3 > li:nth-child(1){width: 70%;}
.organ_box .organ3 > li:nth-child(2){width: 235px;}
.organ_box .organ3 > li p{margin:0 auto 30px; }
.organ_box .organ3-2 > p{background-color: #00A1EB;}
.organ_box .organ4 p{ background-color: #2467C2;}
.organ_box .organ5{display: flex; gap: 5px;position: relative; z-index: 9;}
.organ_box .organ5 > li{width: calc(100% / 3);}
.organ_box .organ6 > li > p{margin-top: 60px; margin-bottom: 80px; background-color: #975CD3;}

.organ_box .organ-list{border:1px solid #D4D4D4; border-radius: 6px; padding:10px 0px 0 10px; background-color: #fff; position: relative; z-index: 9; min-height: 380px;}
.organ_box .organ2::before{
    content:"";
    display: inline-block;
    width: 80%;
    max-width: 538px;
    height: 80px;
    z-index: -1;
    position: absolute;
    right:129px;
    top:80px;
    border-top:1px solid #999999;
    border-right:1px solid #999999;
}
.organ_box .organ5::before{
    content:"";
    display: inline-block;
    width: 80%;
    max-width: 484px;
    height: 60px;
    z-index: -1;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    top:-15px;
    border-top:1px solid #999999;
    border-left:1px solid #999999;
    border-right:1px solid #999999;
}
.organ_box li p:after{
    content:"";
    display: inline-block;
    width: 1px;
    height: 80px;
    background-color: #767676;
    z-index: -1;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:-80px;
}
/* -- 조직도 */
/* 오시는 길 */
.map_box {text-align: center;}
.map_txt{margin-top: 40px;}
/* -- 오시는 길 */
/* 미션 핵심가치 */
.mis-imgs{text-align: center; margin-top: 80px;}
.mis-conts > ul{position: relative;}
.mis-conts > ul >li{position: relative; width: 100%; height: 180px;}
.mis-conts > ul >li > .box{width: 500px; display: flex; flex-direction: row-reverse; position: absolute; top:0; left:50%; transform: translateX(-50%); gap: 10px; }
.mis-conts > ul >li .tit{width: 140px; height: 140px; font-size: 14px; font-weight: 600; display: flex; align-items: center; justify-content: center; background-image: url("../images/mission_img03.png") ; background-position: center center; background-repeat: no-repeat; padding:30px; text-align: center; word-break: break-all;}
.mis-conts > ul >li .desc{width: calc(100% - 150px);; margin-top: 30px;}
.mis-conts > ul >li .d-tit{font-size: 30px; font-weight: 600; margin-bottom: 10px; border-bottom: 2px solid #19C098;}
.mis-conts > ul >li .d-sub{color:#19C098}
.mis-conts > ul >li .d-txt{margin-top: 20px; font-size: 15px;color:#5d5d5d}
/* li1 */
.mis-conts > ul >li.li1 > .box{flex-direction: row;transform: translateX(0%); top:130px}
.mis-conts > ul >li.li1 .desc{text-align: right;}

.mis-conts > ul >li.li2 > .box{transform: translateX(-100%);}
.mis-conts > ul >li.li2 .tit{background-image: url("../images/mission_img02.png");}
.mis-conts > ul >li.li2 .d-tit{border-color: #86CE2E;}
.mis-conts > ul >li.li2 .d-sub{color: #86CE2E;}

.mis-conts > ul >li.li3 > .box{transform: translateX(-78%); top:-85px}
.mis-conts > ul >li.li3 .desc{margin-top: 150px;}
.mis-conts > ul >li.li3 .tit{background-image: url("../images/mission_img04.png");}
.mis-conts > ul >li.li3 .d-tit{border-color: #1189A5;}
.mis-conts > ul >li.li3 .d-sub{color: #1189A5;}
/* -- 미션 핵심가치 */

/* 국제Admission */
.if-utube{max-width: 760px; height: 480px; padding:20px;}
.line-box{position: relative;; margin:30px 20px 60px; }
.line-box > .btn-wrap > .btn{width: calc(100% / 4 - 8px); padding: 15px 20px;  text-align: left;}
.line-box > .btn-wrap > .btn > span{width: 100%;}
.line-box > .btn-wrap > .wtxt{ display: flex; align-items: center; gap: 10px; font-weight: 700;flex-wrap: wrap;}
.line-box > .btn-wrap:has(.wtxt){column-gap: 40px; row-gap: 20px;}
.line-box > .btn-wrap > .wtxt > .btn{ padding: 15px 20px; min-width: 220px;}
/* --국제Admission */
/* KGSP */
.link-wrap{display: flex; gap: 20px; align-items: center; margin-top: 20px; border-radius: 10px; border:1px solid #1b3597;padding:20px; overflow: hidden;}
.link-wrap > a {display: inline-block; position: relative;}
/* -- KGSP */

/* 주택 */
.housing-slide{margin-top: 30px;}
.housing-slide .swiper-slide{text-align: center;}
.housing-slide .swiper-slide .imgs{margin-bottom: 20px;}
.housing-slide button{width: 33px; height: 28px; background-repeat: no-repeat;}
.housing-slide .house_prev{background-image: url("../images/slide-arrwP02.png");float: left;}
.housing-slide .house_next{background-image: url("../images/slide-arrwN02.png"); float: right;}

.room-imgs{margin:0 auto; text-align: center;} 
.room-imgs > img{width: 100%; max-width: 760px;}
/* -- 주택 */

/* Study at UOS 프로그램소개 */
.program-intro > .tit{color:#333; font-weight: 700; font-size: 22px; margin-bottom: 20px;}
.program-intro > .tit2{color:#1799B6; font-weight: 700; font-size: 22px; margin-top: 30px;}
.program-intro .intro-list{padding-left: 10px;}
.program-intro .intro-list > li >span{position: relative; padding:0 4px; margin-bottom: 10px; margin-top: 20px; font-weight: 500;}
.program-intro .intro-list > li >span::before{content:""; display: inline-block; width: 100%; height: 60%; border-radius: 20px;background-color: #9bd7ff9d; position: absolute; left:0; bottom:0px; z-index: -1;}
.program-intro .intro-list > li >span ~ div{padding-left: 6px; color:#5d5d5d;}
/* -- Study at UOS 프로그램소개 */

/* Study at UOS 자격및신청 */
.elig-step-wrap{font-size: 15px; padding:40px 0; border-bottom:1px solid #E1E1E1;}
.elig-step-wrap > li{ position: relative; z-index: 99;}
.elig-step-wrap > li + li{margin-top: 20px;}
.elig-step-wrap > li > .step-box{padding:20px 30px; background-color: #fff;}
.elig-step-wrap > li .step{width: 175px; height: 130px; background-image:  url("../images/eliq-step1.png");  background-repeat: no-repeat; background-size: 100% auto; position: absolute; left:24px; top:-25px;}
.elig-step-wrap > li:nth-child(2) .step{background-image:  url("../images/eliq-step2.png"); }
.elig-step-wrap > li:nth-child(3) .step{background-image:  url("../images/eliq-step3.png"); }
.elig-step-wrap > li:nth-child(4) .step{background-image:  url("../images/eliq-step4.png"); }

.elig-step-wrap > li .step-desc{padding-left: 240px;}
.elig-step-wrap > li .step-desc .tit{font-weight: 600; color:#1397b5; font-size: var(--fz-20); margin-bottom: 10px;}
.elig-step-wrap > li .step-desc > span{font-size: var(--fz-18);}
.elig-step-wrap > li .step-desc > div{margin-top: 20px; font-weight: 300;}
.elig-step-wrap > li .step-desc > div > b{font-weight: 500;}
.elig-step-wrap > li::before{content:""; display: inline-block; width: 100%; height: 64px;  background-image: url("../images/eliq-shadow.png"); background-repeat: no-repeat; position: absolute; left:0%; top:-64px; z-index: -1;}

/* -- Study at UOS 자격및신청 */
/* -- Study at UOS 지불 */
.qr-box{display: flex; gap: 20px; }
.qr-box a{color:#1b4fb4}
.qr-box a:hover,.qr-box a:focus{text-decoration: underline;}
/* -- Study at UOS 지불 */

/* 해외파견프로그램 */
.program-imgs{text-align: center;}
.program-imgs > img{max-width: 100%;}

/* -- 해외파견프로그램 */
/* 학점이전 관련 FAQ */
.faqList01 > li{border-radius: 10px; box-shadow: 0px 0px 6px rgba(78, 78, 78, 0.2); margin-bottom: 20px; overflow: hidden;}
.faqList01 > li > div{display: flex; gap: 20px;}
.faqList01 > li > .q{background-color: #fff; padding:16px 20px; }
.faqList01 > li  span{color:#fff; display: flex; align-items: center; justify-content: center; font-weight: 700;}
.faqList01 > li > .q > span{width: 46px; height: 44px; font-size: 22px;  background: url("../images/icon_q.png") no-repeat;}
.faqList01 > li > .q > p{width: calc(100% - 66px); padding-top: 10px;}
.faqList01 > li > .a{background-color: #F8F8F8; padding: 24px 90px;}
.faqList01 > li > .a > span{width: 29px; height: 27px;font-size: 14px; background: url("../images/icon_a.png") no-repeat;}
.faqList01 > li > .a > p{width: calc(100% - 50px); padding-top: 5px; color:#555;}

/* 학점이전 관련 FAQ */
/* 해외교류대학 */
.Agreement-type{margin:30px 0 20px; display: flex; gap: 40px; align-items: center; flex-wrap: wrap;}
.Agreement-type > li{display: flex; align-items: center; gap: 10px;}
.Agreement-type > li > span{display: inline-block;width: 35px; height: 35px; text-align: center; font-weight: 700; color:#fff; background-color: #EB8A2B; border-radius: 50%; padding:7px 0;}
.tbl-select select{width: 100%; max-width: 300px; border: 1px solid #e4e4e4; font-size: 18px; border-radius: 5px; padding: 10px 10px;}
/* -- 해외교류대학 */


@media (max-width: 1080px) {
    /* 조직도 */
    .organ_box .organ-list{width: 100%; min-height: auto;}
    .organ_box .organ1 > li > p{margin:0 auto 60px;}

    .organ_box .organ2 > li > p{margin:0 auto 60px;}
    .organ_box .organ2 > li > p:after{height: 19px; bottom: -19px;}
    .organ_box .organ2::before{border-left:1px solid #999; width: 54%; transform: translateX(-50%); right: auto; left:50%;}
    .organ_box .organ3 > li:nth-child(1){width: 50%;}
    .organ_box .organ3 > li:nth-child(2){width: 50%;}

    .organ_box .organ5{flex-direction: column ; gap: 20px;}
    .organ_box .organ5 > li{width: 100%;}


    .organ_box .organ5::before{display: none;}
    /* -- 조직도 */
}
@media (max-width: 1024px) {
    /* 미션 핵심가치 */
    .mis-conts > ul{padding-top: 50px;}
    .mis-conts > ul > li{margin-top: 20px;}
    .mis-conts > ul > li > .box {position: static; transform: translateX(0); flex-direction: row; width: 100%; max-width: 800px; margin:0 auto;}
    .mis-conts > ul >li.li1 .desc{text-align: left;}
    .mis-conts > ul >li.li2 > .box{transform: translateX(0);}
    .mis-conts > ul >li.li3 > .box{transform: translateX(0);}
    .mis-conts > ul >li.li3 .desc{margin-top: 30px;}
    /* -- 미션 핵심가치 */
}
@media (max-width: 760px) {
    /* table */
    .table-wrap{overflow-x: scroll;}

    /* 미션 핵심가치 */
    .mis-imgs{padding:0 10px;}
    .mis-imgs >  img{width: 100%;}
    /* -- 미션 핵심가치 */
    /* 조직도 */
    .organ_box .organ3{gap: 20px;}
    /* -- 조직도 */
    /* 학점이전 관련 FAQ */
    .faqList01 > li > .a{padding:20px 30px;}
    /* -- 학점이전 관련 FAQ */
    /* Study at UOS 자격및신청 */
    .elig-step-wrap > li > .step-box{padding:40px 20px;}
    .elig-step-wrap > li .step{width: 120px; top: -16px; left: 10px;}
    .elig-step-wrap > li .step-desc{ padding-left: 0; padding-top: 60px;}
    /* -- Study at UOS 자격및신청 */
}
@media (max-width: 480px) {
    .ind-box{padding-left: 10px;}
    /* 타이틀 */
    .conts-tit{margin-top: 50px;}
    .conts-tit-desc{font-size: 16px;}

    .flow-wrap > ul >li > p{flex-direction: column; gap: 10px;}
    /* 검색 */
    .pageSearch-wrap > ul > li > .tit{width: 100px;}
    .pageSearch-wrap > ul > li input, .pageSearch-wrap > ul > li select{height: 40px; border-radius:8px ;}
    .pageSearch-wrap .search-box .serch-input{ height: 40px;border-radius:8px ;}
    /* -- 검색 */

    /* 공지사항 */
    .brd-lstp1 > li > div > p{width: 60px;font-size: 16px;}
    .brd-lstp1 > li > div > div{width: calc(100% - 60px);}
    .brd-lstp1 > li > div > .imgs {width: 100px; aspect-ratio:1.3; margin:0 5px;}
    .brd-lstp1 > li > div:has(.imgs) > div {width: calc(100% - 150px);}

    .brd-lstp1 .ti > a{ -webkit-line-clamp:2;  -webkit-box-orient:vertical; display:-webkit-box; white-space: wrap;}
    .brd-lstp1 .da > p{font-size: 14px;}
    /* -- 공지사항 */

    /* 해외체험수기 등록 */
    .respon-form > li{flex-direction: column;}
    .respon-form .form-label{width: 100%;text-align: left;}
    .respon-form .form-field{width: 100%; padding:10px;}
    /* 파일업로드 */
    .upload-file{flex-direction: column; align-items: flex-start;}
    .upload-file .upload-inst{width: 100%;}
    /* -- 해외체험수기 등록 */

    /* faq */
    .accordion-body > .accordion-txt-box{padding: 30px 20px;}
    .accordion-body > .accordion-txt-box > .txt {padding-top: 40px;}
    .accordion-body > .accordion-txt-box > .txt::before {left:0; top:0;}
    .accordion-body > .accordion-txt-box .file-list{margin:20px 0;}
    /* -- faq */
    /* 미션 핵심가치 */
    .mis-imgs{margin-top: 40px;}
    .mis-conts > ul{padding-top: 24px;}
    .mis-conts > ul >li .tit{display: none;}
    .mis-conts > ul >li .desc{width: 100%;}
    .mis-conts > ul >li .d-tit{font-size: 26px;}
    .mis-conts > ul >li .d-txt{font-size: 14px;}
    /* --미션 핵심가치 */

    /* 인사말 */
    .greeting_box{flex-direction: column;}
    .greeting_box .img_bx{width: 190px;}
    /* -- 인사말 */

    /* 조직도 */
    .organ_box .organ2 > li > p:after{height: 30px; bottom: -30px;}
    .organ_box .organ3{flex-direction: column-reverse;}
    .organ_box .organ3 > li:nth-child(1){width: 100%;}
    .organ_box .organ3 > li:nth-child(2){width: 100%;}
    .organ_box .organ2::before{display: none;}
    .organ_box .organ1 > li > p,
    .organ_box .organ2 > li > p,
    .organ_box .organ6 > li > p{margin:0 auto 30px}
    /* -- 조직도 */

    /* 국제Admission */
    .if-utube{height: 300px;}
    .line-box > .btn-wrap > .btn{width: 100%;}
    /* --국제Admission */

    /* -- Study at UOS 지불 */
    .qr-box{flex-direction: column;}
    /* -- Study at UOS 지불 */

    /* 학점이전 관련 FAQ */
    .faqList01 > li > .q{padding:16px 10px;}
    .faqList01 > li > .a{padding:20px 10px;}
    /* -- 학점이전 관련 FAQ */
}