
.m-container{padding-top: 156px; width: 100%;}
.m-content{padding:70px 0;}
.m-tit{font-size: 36px; font-weight: 600; padding-left: 20px; position: relative; margin-bottom: 40px;}
.m-tit.whc{color:#fff}
.m-tit::before{
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #183D86;
    position: absolute;
    left:0;
    top:0;

}
.m-tit.whc::before{background-color: #88ACE0;}

/* m-visual */
.m-visual{width: 100%;   position: relative;}
.m-visual .visual-slide{border-radius: 0 0 0 160px; height: 674px; overflow: hidden;}
.m-visual .swiper-slide{width: 100%; height: 100%; }
.m-visual .swiper-slide .cont-box{position: relative;}
.m-visual .swiper-slide .cont-box img{width: 100%;}
.m-visual .swiper-slide .txt-wrap{max-width: 1530px; color:#fff; font-weight: 900; padding-top: 300px; opacity: 0; transform: translateX(120px);  position: absolute; left:10%; top:0;}
.m-visual .swiper-slide .txt-wrap >p{font-size: 60px; }
.m-visual .swiper-slide .txt-wrap >span{display: inline-block; font-size: 44px;}
.m-visual .swiper-slide.on .txt-wrap{opacity: 1;transform: translateX(0px);transition: opacity 1.5s, transform 1.6s;}




.m-visual .controler{ position: absolute; left:12%; bottom:120px; z-index: 99; display: flex; align-items: center; gap: 15px; font-size: 17px; color:#fff;}
.m-visual .controler .mvSlide_prev{width: 13px; height: 20px; background: url("../images/wh-Parw01.png") no-repeat;}
.m-visual .controler .mvSlide_next{width: 13px; height: 20px; background: url("../images/wh-Narw01.png") no-repeat;}
.m-visual .controler .btn_pause{width: 10px; height: 14px; background: url("../images/stop-icn.png") no-repeat;}
.m-visual .controler .btn_play{width: 12px; height: 17px; background: url("../images/play-icn.png") no-repeat;}

.m-visual .controler .page_num_bar{position: relative;width: 100px; height: 20px;}
.m-visual .controler .page_num_bar .swiper-progress{width: 100%;  top: 8px; background-color: rgba(255, 255, 255,0.3);}
.m-visual .controler .page_num_bar .swiper-progress .swiper-pagination-progressbar-fill{background-color: #fff;}
/* -- m-visual */

.df-box{display: flex; width: 100%;}
.df-box > .m-tit{width: 336px;}
.df-box > .m-cont{width: calc(100% - 336px);}
/* m-news */
.m-news .m-content{display: flex;}
.m-news .m-content > .m-tit{width: 336px;}
.m-news .tab-area{position: relative;}
.m-news .tab-area .tab{margin-bottom: 25px;}
.m-news .tab-area .tab > ul{display: flex; gap: 6px;}
.m-news .tab-area .tab > ul > li >button{height: 100%; text-align: center; border-radius: 10px; font-size: 20px; padding:10px 20px; color:#6c6c6c; background-color: #F1F1F1; }
.m-news .tab-area .tab > ul > li.active >button{background-color: #1348A6; color:#fff;}
.m-news .tab-conts-wrap{min-height: 152px;}
.m-news .tab-conts{display: none; font-size: 16px;}
.m-news .tab-conts.active{display: block;}
.m-news .tab-conts > ul > li > .news-tit{width: calc(100% - 108px); float:left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.m-news .tab-conts > ul  > li > .news-date{float:right; width: 108px; color:#555;}
.m-news .more-btn{width: 30px; height: 30px; background: url("../images/more-icn01.png") center center no-repeat; position: absolute; right:0; top:10px;}
/* -- m-news */

/* m-service */
.m-service{background: url("../images/service-bg.png") right top no-repeat; background-size: 100% 100%;}
.m-service .service-menu{display: flex; column-gap: 60px; row-gap: 30px; flex-wrap: wrap;}
.m-service .service-menu > li > a{width: 170px; text-align: center; color:#fff;font-size: 16px; line-height: 1.2; }
.m-service .service-menu  a >p{height: 100px; display: flex; align-items: center; justify-content: center; background-color: rgba(255, 255, 255,0.3);border-radius: 20px; transition: 0.3s;}
.m-service .service-menu  a > span{margin-top: 10px;}

.m-service .service-menu > li > a:hover > p,.m-service .service-menu > li > a:focus >P{background-color: rgba(0, 0, 0,0.2);}
/* -- m-service */

/* m-introduce */
.introduce_zone{display: flex; gap: 8px; }
.introduce_zone > li{width: 142px; height: 655px; border-radius: 16px; color:#fff; padding:48px 50px; background-repeat: no-repeat; background-position: center center; background-size: auto 100%; overflow: hidden; position: relative;transition: all 0.5s;}

.introduce_zone > li > .tit{max-width: 42px; font-size: 28px;font-weight: 600; text-align: center; line-height: 1.2; writing-mode: vertical-lr;} 
.introduce_zone > li > .accBtn{width: 50px; height: 50px; background-color: rgba(0,0,0,0.3); border-radius: 50%; background-image: url("../images/more-icn02.png"); background-position: center center; background-repeat: no-repeat; position: absolute; left:50%; bottom:40px; transform: translateX(-50%) rotate(0); }
.introduce_zone > li > .accBtn:hover,.introduce_zone > li > .accBtn:focus{transform: translateX(-50%) rotate(180deg); transition: 0.3s; background-color: rgba(0,0,0,0.6);}
.introduce_zone > li > .link_box{display: none; padding-top:40px; font-size: 18px; }
.introduce_zone .link_box > ul{display: flex; flex-wrap: wrap; gap: 10px;}
.introduce_zone .link_box > ul > li{width: 100%; position: relative; padding-left: 10px;}
.introduce_zone .link_box > ul > li::before{content:""; display: inline-block; width: 4px; height: 4px; background-color: #fff; border-radius: 50%; position: absolute; left:0; top:10px;}

/* active */
.introduce_zone > li.active{width: 740px; }
.introduce_zone > li.active > .tit{max-width: 100%; font-size: 30px; text-align: left;position: relative; writing-mode: horizontal-tb;;}
.introduce_zone > li.active > .tit span{position: relative;}
.introduce_zone > li.active > .tit span:after{
    display: inline-block;
    width: 100%;
    width: 640px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 115%;
    bottom:5px;
    content:"";
}
.introduce_zone > li.active > .link_box{display: block;}
.introduce_zone > li.active > .accBtn{display: none;}

.introduce_zone > li.li01{background-image: url("../images/indu-bg01.png");}
.introduce_zone > li.li02{background-image: url("../images/indu-bg02.png");}
.introduce_zone > li.li03{background-image: url("../images/indu-bg03.png");}
.introduce_zone > li.li04{background-image: url("../images/indu-bg04.png");}
.introduce_zone > li.li05{background-image: url("../images/indu-bg05.png");}
.introduce_zone > li.li06{background-image: url("../images/indu-bg06.png");}
/* -- m-introduce */

/* m-quick */
.m-quick{background-image: url("../images/quick-bg.png"); background-repeat: no-repeat; background-size: cover; background-position: center center; position: relative; padding:40px 0;}
.m-quick .quick-slide{overflow: hidden;}
.m-quick .swiper-slide{ text-align: center; margin-top: 20px; margin-bottom: 20px; }
.m-quick .swiper-slide a{width: 100%; background-color: #fff; padding:10px;  font-weight: 600; font-size: 17px; border:1px solid #fff;}
.m-quick .swiper-slide a > p{height: 80px; display: flex; align-items: center; justify-content: center;}
.m-quick .swiper-slide a span{display: block; height: 90px; display: flex; align-items: center; justify-content: center; line-height: 1.1;}
.m-quick .swiper-slide a:hover,.m-quick .swiper-slide a:focus{background-color: transparent; color:#fff; transition: 0.3s;}
.m-quick .swiper-slide a:hover img,.m-quick .swiper-slide a:focus img{filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7476%) hue-rotate(110deg) brightness(98%) contrast(108%);}
.m-quick .quick-slide .slide-arrw{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: url(../images/wh-Parw02.png) center center no-repeat;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    z-index: 99;
}
.m-quick .quick-slide .quickSlide_prev{left:22px;}
.m-quick .quick-slide .quickSlide_next{right:22px; background: url("../images/wh-Narw02.png") center center no-repeat;}

/* -- m-quick */


@media (max-width: 1200px) {
    /* m-visual */
    .m-visual .swiper-slide{background-size: 100% 100%;}
    /* -- m-visual */
    /* m-quick */
    .m-quick .quick-slide{margin:0 40px;}
    /* -- m-quick */
}
@media (max-width: 1080px) {
    .df-box{flex-direction: column;}
    .df-box > .m-tit{width: 100%;}
    .df-box > .m-cont{width: 100%;}
    /* m-visual */
    .m-visual .visual-slide{height: 480px;}
    .m-visual .swiper-slide{background-size: 100% auto;}
    .m-visual .swiper-slide .txt-wrap {padding-top: 120px;}
    .m-visual .swiper-slide .txt-wrap >p{font-size: 50px; }
    .m-visual .swiper-slide .txt-wrap >span{display: inline-block; font-size: 38px;}
    /* -- m-visual */

    /* m-service */
    .m-service .service-menu{gap: 10px; justify-content: space-between;}
    .m-service .service-menu > li{width: calc(100% / 5 - 8px);}
    .m-service .service-menu > li > a {width: 100%;}
    /* -- m-service */

    /* m-introduce */
    .introduce_zone{flex-direction: column;}
    .introduce_zone > li{width: 100%; height: 80px; background-size: 100% auto;  padding: 25px 40px; transition: none; }
    .introduce_zone > li > .accBtn{left:auto; right: 15px; top:14px }
    .introduce_zone > li > .tit{text-align: left; max-width: 100%; writing-mode: horizontal-tb;}
    .introduce_zone > li.active{width: 100%;  height: 100%; background-size: 100% 100%; }
    /*  -- m-introduce */

    /* m-quick */
    /* -- m-quick */
}
@media (max-width: 1024px) {
    .m-container{padding-top: 119px;}

}
@media (max-width: 960px) {
    /* m-visual */
    .m-visual .visual-slide{height: 400px;}
    .m-visual .swiper-slide .txt-wrap >p{font-size: 40px; }
    .m-visual .controler{bottom: 100px;}
    /* -- m-visual */
    /* m-news */
    .m-news .tab-area .tab > ul > li{width: calc(100% / 4);}
    .m-news .tab-area .tab > ul > li >button{width: 100%; font-size: 18px;}
    .m-news .more-btn {top: -55px;}
    /* -- m-news */
}

@media (max-width: 760px) {
    .m-content{padding:40px 0;}
    /* m-visual */
    .m-visual .visual-slide{height: 300px;}
    .m-visual .swiper-slide{background-size: 100% 100%;}
    .m-visual .swiper-slide .txt-wrap {padding-top: 70px; left:20px;}
    .m-visual .swiper-slide .txt-wrap >p{font-size: 32px; }
    .m-visual .swiper-slide .txt-wrap >span{display: inline-block; font-size: 22px;}
    .m-visual .controler {left: 30px;}
    /* -- m-visual */
    /* m-service */
    .m-service{background-size: 100% 100%;}
    .m-service .service-menu{flex-wrap: wrap; justify-content: flex-start;}
    .m-service .service-menu > li{width: calc(100% / 3 - 8px);}
    /* -- m-service */

    /* m-introduce */
    .introduce_zone > li > .tit{font-size: 24px;}
    .introduce_zone > li.active{background-size: 100% 100%;}
    .introduce_zone > li.active > .tit{font-size: 26px;}
    /* -- m-introduce */

    /* m-quick */
    .m-quick{padding:0;}
    .m-quick .swiper-slide {margin-top: 10px;  margin-bottom: 10px;}
    .m-quick .swiper-slide a{font-size: 16px;}
    /* -- m-quick */
}
@media (max-width: 480px) {
    .m-container{padding-top: 135px;}
    .m-content{padding:40px 0;}
    .m-tit{font-size: 28px; margin-bottom: 20px;}
    
    /* m-visual */
    .m-visual .visual-slide{height: 230px; border-radius: 0;}
    .m-visual .swiper-slide .txt-wrap{padding-top: 40px;}
    .m-visual .swiper-slide .txt-wrap >p{font-size: 30px; }
    .m-visual .swiper-slide .txt-wrap >span{display: inline-block; font-size: 20px;}
    .m-visual .controler {left: 20px; bottom:40px; font-size: 16px;}
    /* -- m-visual */
    /* m-news */
    .m-news .tab-area .tab > ul > li > button {font-size: 16px;padding:10px 0;}
    .m-news .tab-conts{font-size: 14px;}
    /* -- m-news */

    /* m-service */
    .m-service .service-menu > li{width: calc(100% / 3 - 7px);}
    .m-service .service-menu > li > a{font-size: 16px; width: 100%;}
    .m-service .service-menu a >p{height: 90px; border-radius: 16px;}
    /* -- m-service */

    /* m-introduce */
    .introduce_zone > li{padding:20px; height: 60px; border-radius: 10px;}
    .introduce_zone > li > .tit{font-size: 18px;}
    .introduce_zone > li > .accBtn{width: 40px; height: 40px;top: 10px;}
    .introduce_zone > li > .link_box{font-size: 16px;}
    .introduce_zone > li.active{background-size: 100% 100%;}
    .introduce_zone > li.active > .tit{font-size: 22px;}
    .introduce_zone > li.active > .tit:after {left:140px}
    /* -- m-introduce */

    /* m-quick */
    .m-quick .m-content{padding:40px 0;}
    .m-quick .quick-slide{margin:0;}
    .m-quick .swiper-wrapper{display: block !important; width: 100% !important;}
    .m-quick .swiper-slide{width: 100% !important;}
    .m-quick .swiper-slide a{display: flex; gap: 20px; padding:10px 15px;}
    .m-quick .swiper-slide a > p{width: 40px; height: auto;}
    .m-quick .swiper-slide a > p > img{width: 100%;}
    .m-quick .swiper-slide a span{width: calc(100% - 60px); min-height: 40px; height: auto; justify-content: flex-start; text-align: left;}
    .m-quick .swiper-slide a span > br{display: none;}
    
    /* -- m-quick */
}
@media (max-width: 380px) {
    .m-service .service-menu > li{width: calc(100% / 2 - 6px);}

}