.s-container{min-height: 700px;}
.sub-banner{width: 100%; height: 250px; background-image: url("../images/sub-ban01.png"); background-repeat: no-repeat; background-position: left bottom; border-radius: 0 0 0 100px;}
.sub-banner > .inner{height: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.sub-banner .ban-tit{font-size: var(--fz-38);font-weight: 700; color:#fff; margin-bottom: 10px;}

.sub-banner .line-map{color:#fff; font-size: var(--fz-20); display: flex; justify-content: center; align-items: center;}
.sub-banner .line-map > li{position: relative; padding-right:14px; }
.sub-banner .line-map > li:not(:first-child){padding-left: 22px;}
.sub-banner .line-map > li:not(:first-child)::before{
    content: "";
    display: inline-block;
    width: 7px;
    height: 12px;
    background: url("../images/arrw01.png");
    position: absolute;
    left:0;
    top:50%;
    transform: translateY(-50%);
}
.sub-banner .line-map img{padding-top: 5px;}

#snb-wrap{display: block; width: 284px; float:left;position: relative; min-height: 420px;}
#sub-content{width: calc(100% - 284px); float:left; padding: 70px 0 70px 50px;}

/* snb */
.snb-box{position: absolute; top:-100px;}
.snb-box .snb-tit{height: 128px; font-size: var(--fz-36); font-weight: 700; color:#fff; background-color: #3662C0; display: flex; align-items: center; justify-content: center; border-radius: 16px 30px 0 0;}
.snb-depth1{background-color: #fff; }
.snb-depth1 > ul > li >a{display: block; width: 100%; padding:20px; font-size: var(--fz-20); border-right: 1px solid #EFEFEF;border-left: 1px solid #EFEFEF;}
.snb-depth1 > ul > li + li >a{border-top:1px solid #EFEFEF;}
.snb-depth1 > ul > li:last-child > a{border-bottom:1px solid #efefef;}
.snb-depth1 > ul > li.on > a{background-color: #353C47; color:#fff; border-color: #353C47;}

.snb-depth1 > ul > li .snb-depth2{display: none;}
.snb-depth2{font-size: var(--fz-18);}
.snb-depth2 > ul{padding:20px; background-color: #F2F4F6;}

.snb-depth2 > ul > li + li{margin-top: 14px; }
.snb-depth2 > ul > li > a{ color:#767683; position: relative; padding-left: 10px;}
.snb-depth2 > ul > li.on > a{color: #3662C0;}
.snb-depth2 > ul > li > a::before{content: ""; display: inline-block; width: 4px; height: 4px; background-color: #BABABA; border-radius: 50%; position: absolute; left:0; top:11px;}
.snb-depth2 > ul > li.on > a::before{background-color: #0071D9;}
.snb-depth2 > ul > li > a:hover,.snb-box .depth2 > ul > li > a:focus{text-decoration: underline;}
/* -- snb */
/* sub-content */
.sub-tit-box{padding-bottom: 15px; border-bottom:1px solid #E2E2E2; display: flex; justify-content: space-between; align-items: center; gap: 20px;}
.subTit01{font-size: var(--fz-38); font-weight: 400;}
.subTit02{font-size: var(--fz-30); font-weight: 600; position: relative; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; padding-left: 20px; margin-bottom: 20px;}
.subTit02::before{content:""; display: inline-block;width: 6px; height: 18px; background: url("../images/tit-bg1.png") no-repeat; position: absolute; left:0; top:50%; transform: translateY(-50%);}
.stp-bt{display: flex; gap: 10px;}
.stp-bt > li > a{width: 50px; height: 50px; border-radius: 50%; border:1px solid #d8d8d8; background-color: #fff; background-position: center center; background-repeat: no-repeat; transition: border 0.3s;}
.stp-bt > li > a.print-ic{background-image: url("../images/print_ic.png");}
.stp-bt > li > a.share-ic{background-image: url("../images/share_ic.png");}
.stp-bt > li > a:hover,.stp-bt > li > a:focus{border-color: #353C47;}


/* -- sub-content */

/* tab layer */
.tab-area .tab > ul{display: flex; align-items: center; border:1px solid #E1E1E1; font-weight: 600; font-size: var(--fz-22);}
.tab-area .tab > ul > li{flex: 1 1 0; position: relative;}
.tab-area .tab > ul > li:not(:first-child):before{content:""; display: inline-block; width: 1px; height: 24px; background-color: #D8D8D8; position: absolute; left:0; top:50%; transform: translateY(-50%);}
.tab-area .tab > ul > li > button{width: 100%; padding:14px; position: relative;}
.tab-area .tab > ul > li > button::before{
    content:"";
    display: inline-block;
    width: 0;
    height: 4px;
    background-color: #5077B9;
    position: absolute;
    left:50%;
    bottom:-2px;
    transform: translateX(-50%);
    transition: width 0.4s;
}
.tab-area .tab > ul > li.active > button{color: #5077B9;}
.tab-area .tab > ul > li.active > button::before{
    width: 100%;
}

.tab-conts-wrap .tab-conts{display: none;}
.tab-conts-wrap .tab-conts.active{display: block;}

/* -- tab layer */
/* table */
.teble-wrap .type1{width: 100%; border-top:2px solid #5076B8; text-align: center;}
.teble-wrap .type1 tr{border-bottom: 1px solid #DEDEDE;}
.teble-wrap .type1 th{font-size: var(--fz-22); font-weight: 600;padding:10px; border-right: 1px solid #DEDEDE; vertical-align: middle; background-color: #FAFBFF;}
.teble-wrap .type1 th:last-child{border-right: 0;}
.teble-wrap .type1 td{padding:10px; border-right: 1px solid #DEDEDE; vertical-align: middle; font-size: var(--fz-18);}
.teble-wrap .type1 td:last-child{border-right: 0;}
.teble-wrap .type1 td > a{width: 36px; height: 36px; border-radius: 50%; border:1px solid #DEDEDE; display: flex; align-items: center; justify-content: center; margin:0 auto;}
/* table */

/* center */
.depart-list{display: flex; flex-wrap: wrap; column-gap: 10px; row-gap: 20px; padding:20px; background-color: #F4F3F9;}
.depart-list > li{width: calc(100% / 3 - 10px);}
.depart-list > li a{width: 100%; padding-left: 10px; background-image: url("../images/arrw02.png"); background-repeat: no-repeat; background-position: left top 8px;font-size: var(--fz-18);}
.depart-list > li a.active,
.depart-list > li a:hover,.depart-list > li a:focus{background-image: url("../images/arrw03.png");color:#E74C4C;}

.research-cont{margin-top: 70px;}
/* -- center */




















@media (max-width: 1200px) {
    /* snb */
    .snb-box{top:-50px}
    /* -- snb */
}
@media (max-width: 1024px) {
    #snb-wrap{display: none;}
    #sub-content{width:100%; float:left; padding: 60px 0 60px 0;}

}

@media (max-width: 760px) {
    .depart-list > li{width: calc(100% / 2 - 5px);}
}